In [1]:
import pandas as pd
import numpy as np
import requests
import io
from datetime import datetime

## Pruebas de carga local

itm_file = pd.read_csv('movies.dat', sep='::', engine='python')
use_file = pd.read_csv('users.dat', sep='::', engine='python')
rat_file = pd.read_csv('ratings.dat', sep='::', engine='python')

itm_file.columns = ['movie_id', 'movie_title', 'genre']
use_file.columns = ['userid', 'twitter_id']
rat_file.columns = ['user_id','movie_id','rating','rating_timestamp']

## Pruebas de carga desde una URL

url="https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/movies.dat"
c=pd.read_csv(url, sep='::',encoding='utf8',error_bad_lines=False,engine='python')
c.columns = ['movie_id', 'movie_title', 'genre']
c

## Inicio

In [2]:
url_items = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/movies.dat"
url_ratin = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/ratings.dat"
url_users = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/users.dat"

itm_file = pd.read_csv(url_items, sep='::',encoding='utf8',error_bad_lines=False,engine='python')
use_file = pd.read_csv(url_users, sep='::',encoding='utf8',error_bad_lines=False,engine='python')
rat_file = pd.read_csv(url_ratin, sep='::',encoding='utf8',error_bad_lines=False,engine='python')

itm_file.columns = ['movie_id', 'movie_title', 'genre']
use_file.columns = ['userid', 'twitter_id']
rat_file.columns = ['user_id','movie_id','rating','rating_timestamp']

In [3]:
itm_file.head()

,movie_id,movie_title,genre
0,10,La sortie des usines Lumière (1895),Documentary|Short
1,12,The Arrival of a Train (1896),Documentary|Short
2,25,The Oxford and Cambridge University Boat Race ...,NaN
3,91,Le manoir du diable (1896),Short|Horror
4,131,Une nuit terrible (1896),Short|Comedy|Horror

In [4]:
itm_file.shape

(34510, 3)

In [5]:
use_file.head()

   userid  twitter_id
0       2    40501255
1       3   417333257
2       4   138805259
3       5  2452094989
4       6   391774225

In [6]:
use_file.shape

(60452, 2)

In [7]:
use_file = use_file.rename(columns = {'userid':'user_id'})

In [8]:
rat_file.tail()

        user_id  movie_id  rating  rating_timestamp
816678    60451   8695030       1        1567816456
816679    60451   9398640       1        1569026144
816680    60452    816711       8        1371972851
816681    60453   1559547       2        1373287369
816682    60453   2415464       2        1373772560

In [9]:
rat_file.shape

(816683, 4)

In [10]:
rat_file['rating_timestamp'] = pd.to_datetime(rat_file['rating_timestamp'], unit='s')
rat_file.tail()

        user_id  movie_id  rating    rating_timestamp
816678    60451   8695030       1 2019-09-07 00:34:16
816679    60451   9398640       1 2019-09-21 00:35:44
816680    60452    816711       8 2013-06-23 07:34:11
816681    60453   1559547       2 2013-07-08 12:42:49
816682    60453   2415464       2 2013-07-14 03:29:20

In [11]:
rat_file = rat_file.rename(columns = {'rating_timestamp':'date'})
rat_file['time'] = rat_file['date'].astype(str)
rat_file['date'] = rat_file['date'].astype(str)

In [12]:
rat_file.time.dtype

dtype('O')

In [13]:
rat_file['date'] = rat_file['date'].str.split(' ').str[0]
rat_file['time'] = rat_file['time'].str[-8:]

In [14]:
rat_file.head()

   user_id  movie_id  rating        date      time
0        1    117060       7  2013-07-10  00:13:51
1        1    120755       6  2013-07-10  02:46:00
2        1    317919       6  2013-07-10  22:36:03
3        1    454876      10  2013-07-12  09:25:25
4        1    790724       8  2013-07-24  04:48:40

In [15]:
itm_file['movie_year'] = itm_file['movie_title']

In [16]:
itm_file['movie_title'] = itm_file['movie_title'].str.split('(').str[0]
itm_file['movie_title'] = itm_file['movie_title'].str.strip()
itm_file['movie_year'] = itm_file['movie_year'].str[-6:]

In [17]:
itm_file['movie_year'] = itm_file['movie_year'].str.split('(').str[1]
itm_file['movie_year'] = itm_file['movie_year'].str.split(')').str[0]

In [18]:
itm_file.head()

,movie_id,movie_title,genre,movie_year
0,10,La sortie des usines Lumière,Documentary|Short,1895
1,12,The Arrival of a Train,Documentary|Short,1896
2,25,The Oxford and Cambridge University Boat Race,NaN,1895
3,91,Le manoir du diable,Short|Horror,1896
4,131,Une nuit terrible,Short|Comedy|Horror,1896

In [19]:
itm_file.shape

(34510, 4)

In [20]:
df = rat_file

In [21]:
df.head()

   user_id  movie_id  rating        date      time
0        1    117060       7  2013-07-10  00:13:51
1        1    120755       6  2013-07-10  02:46:00
2        1    317919       6  2013-07-10  22:36:03
3        1    454876      10  2013-07-12  09:25:25
4        1    790724       8  2013-07-24  04:48:40

In [22]:
df['date']=df['date'].astype(str)

In [23]:
df.head()

   user_id  movie_id  rating        date      time
0        1    117060       7  2013-07-10  00:13:51
1        1    120755       6  2013-07-10  02:46:00
2        1    317919       6  2013-07-10  22:36:03
3        1    454876      10  2013-07-12  09:25:25
4        1    790724       8  2013-07-24  04:48:40

In [24]:
df['date']= pd.to_datetime(df['date'])

In [25]:
df['date'].unique()

array(['2013-07-10T00:00:00.000000000', '2013-07-12T00:00:00.000000000',
       '2013-07-24T00:00:00.000000000', ...,
       '2014-12-11T00:00:00.000000000', '2015-09-25T00:00:00.000000000',
       '2015-09-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [26]:
df.head()

   user_id  movie_id  rating       date      time
0        1    117060       7 2013-07-10  00:13:51
1        1    120755       6 2013-07-10  02:46:00
2        1    317919       6 2013-07-10  22:36:03
3        1    454876      10 2013-07-12  09:25:25
4        1    790724       8 2013-07-24  04:48:40

In [27]:
df = df.sort_values(by='date')
df.reset_index(drop=True, inplace=True)
df.head()

   user_id  movie_id  rating       date      time
0    15737     95631      10 2013-02-28  23:20:01
1    28364    265349       8 2013-02-28  23:55:41
2    51099   1853728       9 2013-02-28  18:41:35
3    18522    313542       7 2013-02-28  17:59:49
4    34662     97733       7 2013-02-28  22:06:37

In [28]:
df_2 = pd.merge(df,itm_file, on='movie_id')

In [29]:
df_2.head()

,user_id,movie_id,rating,date,time,movie_title,genre,movie_year
0,15737,95631,10,2013-02-28,23:20:01,Midnight Run,Action|Comedy|Crime|Thriller,1988
1,14737,95631,7,2013-03-12,03:50:12,Midnight Run,Action|Comedy|Crime|Thriller,1988
2,14577,95631,7,2013-05-16,19:53:56,Midnight Run,Action|Comedy|Crime|Thriller,1988
3,21712,95631,8,2013-06-17,22:15:38,Midnight Run,Action|Comedy|Crime|Thriller,1988
4,8074,95631,7,2013-09-26,13:51:48,Midnight Run,Action|Comedy|Crime|Thriller,1988

In [30]:
df_final =pd.merge(df_2, use_file, on='user_id')
df_final = df_final.sort_values(by='date')
df_final.reset_index(drop=True, inplace=True)
df_final

,user_id,movie_id,rating,date,time,movie_title,genre,movie_year,twitter_id
0,15737,95631,10,2013-02-28,23:20:01,Midnight Run,Action|Comedy|Crime|Thriller,1988,19039635
1,2232,1853728,9,2013-02-28,23:49:26,Django Unchained,Drama|Western,2012,121246530
2,16730,1981677,5,2013-02-28,21:47:13,Pitch Perfect,Comedy|Music|Romance,2012,230985233
3,3726,93389,9,2013-02-28,23:19:58,The Last Emperor,Biography|Drama|History,1987,600317970
4,3674,1277953,7,2013-02-28,21:32:09,Madagascar 3: Europe's Most Wanted,Animation|Adventure|Comedy|Family,2012,66723750
5,32916,975645,7,2013-02-28,21:09:50,Hitchcock,Biography|Comedy|Drama|Romance,2012,317396727
6,53692,67989,8,2013-02-28,16:24:58,Wild Rovers,Western,1971,110872248
7,17799,1454029,8,2013-02-28,21:12:36,The Help,Drama,2011,397449062
8,41759,2171847,6,2013-02-28,14:38:27,Dead Mine,Action|Horror,2012,105210134
9,45875,884328,7,2013-02-28,15:08:24,The Mist,Horror|Sci-Fi,2007,206144706
10,13967,825232,8,2013-02-28,18:02:44,The Bucket List,Adventure|Comedy|Drama,2007,221804185
11,31368,1649419,7,2013-02-28,23:05:22,Lo imposible,Drama|History|Thriller,2012,374409594
12,37388,1648179,6,2013-02-28,16:11:28,Here Comes the Boom,Action|Comedy|Sport,2012,44121195
13,6595,1772341,7,2013-02-28,20:23:36,Wreck-It Ralph,Animation|Adventure|Comedy|Family|Fantasy,2012,520501429
14,30118,1547234,7,2013-02-28,23:01:18,Premium Rush,Action|Crime|Thriller,2012,97976056
15,30118,1855199,8,2013-02-28,23:06:43,End of Watch,Action|Crime|Drama|Thriller,2012,97976056
16,33134,335345,7,2013-02-28,23:54:05,The Passion of the Christ,Drama,2004,75176165
17,30118,1840417,7,2013-02-28,22:57:45,The Words,Drama|Mystery|Romance|Thriller,2012,97976056
18,31083,970179,8,2013-02-28,16:51:03,Hugo,Adventure|Drama|Family|Fantasy|Mystery|Romance,2011,239535897
19,49486,1748179,5,2013-02-28,22:14:06,Red Lights,Drama|Fantasy|Horror|Mystery|Thriller,2012,126262060
20,28823,373283,5,2013-02-28,16:41:14,Saints and Soldiers,Action|Drama|War,2003,586871840
21,49318,1371111,6,2013-02-28,16:08:29,Cloud Atlas,Action|Drama|Mystery|Sci-Fi,2012,15835543
22,36382,1568338,7,2013-02-28,18:32:30,Man on a Ledge,Action|Adventure|Crime|Thriller,2012,249246669
23,45392,1907668,9,2013-02-28,20:20:05,Flight,Drama|Thriller,2012,188842126
24,22226,1217209,7,2013-02-28,20:34:31,Brave,Animation|Adventure|Comedy|Family|Fantasy,2012,36617266
25,35832,338216,6,2013-02-28,16:00:29,Lucky You,Drama|Romance|Sport,2007,242822990
26,3565,1397280,6,2013-02-28,22:09:27,Taken 2,Action|Thriller,2012,142614183
27,24674,245429,8,2013-02-28,22:15:24,De reis van Chihiro,Animation|Adventure|Family|Fantasy|Mystery,2001,596169027
28,10629,1649419,7,2013-02-28,23:39:05,Lo imposible,Drama|History|Thriller,2012,203971156
29,54301,1707386,7,2013-02-28,22:29:14,Les Misérables,Drama|History|Musical|Romance|War,2012,18074586
...,...,...,...,...,...,...,...,...,...
817261,41805,119488,10,2019-11-18,16:58:56,L.A. Confidential,Crime|Drama|Mystery|Thriller,1997,1048535406
817262,12357,34583,8,2019-11-18,08:48:39,Casablanca,Drama|Romance|War,1942,1532127426
817263,45608,230600,8,2019-11-18,14:01:22,The Others,Horror|Mystery|Thriller,2001,299336307
817264,16276,4729430,8,2019-11-18,17:08:37,Klaus,Animation|Adventure|Comedy|Family,2019,24414732
817265,29254,6751668,10,2019-11-18,21:39:37,Gisaengchung,Drama,2019,2199189492
817266,37628,3541524,3,2019-11-18,00:17:43,Line of Duty,Action|Thriller,2019,2865053282
817267,37628,5959952,6,2019-11-18,22:39:46,Mission Control: The Unsung Heroes of Apollo,Documentary|History,2017,2865053282
817268,8889,758774,7,2019-11-18,06:52:15,Body of Lies,Action|Drama|Thriller,2008,24661013
817269,20436,114367,5,2019-11-18,05:05:56,Screamers,Horror|Sci-Fi|Thriller,1995,8170802
817270,9262,9243946,8,2019-11-18,17:53:13,El Camino: A Breaking Bad Movie,Action|Drama,2019,588582193
817271,18655,5606664,8,2019-11-18,11:55:18,Doctor Sleep,Horror,2019,179084872
817272,33581,6053438,8,2019-11-18,21:19:44,First Reformed,Drama|Mystery|Thriller,2017,406264979
817273,9342,33774,8,2019-11-18,21:43:12,Johnny Eager,Crime|Film-Noir|Thriller,1941,2901954512
817274,13347,887883,6,2019-11-18,18:35:29,Burn After Reading,Comedy|Crime|Drama|Thriller,2008,3673319473
817275,19380,6924650,5,2019-11-18,04:53:16,Midway,Action|Drama|History|War,2019,3777274998
817276,45255,1950186,10,2019-11-18,07:41:42,Ford v Ferrari,Action|Biography|Drama|Sport,2019,41910108
817277,3927,1300854,10,2019-11-18,15:50:15,Iron Man 3,Action|Adventure|Sci-Fi,2013,1005659528573177856
817278,12694,6535880,6,2019-11-18,14:33:24,Haunt,Horror|Thriller,2019,1128688536
817279,49256,8359816,10,2019-11-18,20:46:32,Sorry We Missed You,Drama,2019,117130627
817280,1011,1950186,5,2019-11-18,14:11:58,Ford v Ferrari,Action|Biography|Drama|Sport,2019,2589591721
817281,1011,71853,9,2019-11-18,01:28:02,Monty Python and the Holy Grail,Adventure|Comedy|Fantasy,1975,2589591721
817282,59066,114369,8,2019-11-18,06:48:10,Se7en,Crime|Drama|Mystery|Thriller,1995,1068817828776689664
817283,43273,9134216,5,2019-11-18,17:37:30,Playing with Fire,Comedy|Family,2019,760262077520965632
817284,18742,4729430,9,2019-11-18,16:11:24,Klaus,Animation|Adventure|Comedy|Family,2019,1530175243
817285,47029,5886046,7,2019-11-18,18:35:40,Escape Room,Action|Adventure|Horror|Mystery|Thriller,2019,374312538
817286,12466,327597,8,2019-11-18,15:56:18,Coraline,Animation|Drama|Fantasy|Thriller,2009,1145276551174524928
817287,27581,6214928,4,2019-11-18,03:48:01,1922,Crime|Drama|Horror|Mystery|Thriller,2017,53930437
817288,4071,5033998,6,2019-11-18,16:56:49,Charlie's Angels,Action|Adventure|Comedy,2019,407774026
817289,45050,2837574,7,2019-11-18,16:07:52,The Old Man &amp; the Gun,Biography|Comedy|Crime|Drama|Romance,2018,1095691519120560129
817290,28692,5033998,9,2019-11-18,14:02:25,Charlie's Angels,Action|Adventure|Comedy,2019,3168203550

In [31]:
df_cross = pd.DataFrame(df_final.genre)

numeration = int(len(df_final))+1
df_cross['id'] = pd.Series(range(1,numeration))

In [32]:
df_cross

                                                 genre      id
0                         Action|Comedy|Crime|Thriller       1
1                                        Drama|Western       2
2                                 Comedy|Music|Romance       3
3                              Biography|Drama|History       4
4                    Animation|Adventure|Comedy|Family       5
5                       Biography|Comedy|Drama|Romance       6
6                                              Western       7
7                                                Drama       8
8                                        Action|Horror       9
9                                        Horror|Sci-Fi      10
10                              Adventure|Comedy|Drama      11
11                              Drama|History|Thriller      12
12                                 Action|Comedy|Sport      13
13           Animation|Adventure|Comedy|Family|Fantasy      14
14                               Action|Crime|Thriller      15
15                         Action|Crime|Drama|Thriller      16
16                                               Drama      17
17                      Drama|Mystery|Romance|Thriller      18
18      Adventure|Drama|Family|Fantasy|Mystery|Romance      19
19               Drama|Fantasy|Horror|Mystery|Thriller      20
20                                    Action|Drama|War      21
21                         Action|Drama|Mystery|Sci-Fi      22
22                     Action|Adventure|Crime|Thriller      23
23                                      Drama|Thriller      24
24           Animation|Adventure|Comedy|Family|Fantasy      25
25                                 Drama|Romance|Sport      26
26                                     Action|Thriller      27
27          Animation|Adventure|Family|Fantasy|Mystery      28
28                              Drama|History|Thriller      29
29                   Drama|History|Musical|Romance|War      30
...                                                ...     ...
817261                    Crime|Drama|Mystery|Thriller  817262
817262                               Drama|Romance|War  817263
817263                         Horror|Mystery|Thriller  817264
817264               Animation|Adventure|Comedy|Family  817265
817265                                           Drama  817266
817266                                 Action|Thriller  817267
817267                             Documentary|History  817268
817268                           Action|Drama|Thriller  817269
817269                          Horror|Sci-Fi|Thriller  817270
817270                                    Action|Drama  817271
817271                                          Horror  817272
817272                          Drama|Mystery|Thriller  817273
817273                        Crime|Film-Noir|Thriller  817274
817274                     Comedy|Crime|Drama|Thriller  817275
817275                        Action|Drama|History|War  817276
817276                    Action|Biography|Drama|Sport  817277
817277                         Action|Adventure|Sci-Fi  817278
817278                                 Horror|Thriller  817279
817279                                           Drama  817280
817280                    Action|Biography|Drama|Sport  817281
817281                        Adventure|Comedy|Fantasy  817282
817282                    Crime|Drama|Mystery|Thriller  817283
817283                                   Comedy|Family  817284
817284               Animation|Adventure|Comedy|Family  817285
817285        Action|Adventure|Horror|Mystery|Thriller  817286
817286                Animation|Drama|Fantasy|Thriller  817287
817287             Crime|Drama|Horror|Mystery|Thriller  817288
817288                         Action|Adventure|Comedy  817289
817289            Biography|Comedy|Crime|Drama|Romance  817290
817290                         Action|Adventure|Comedy  817291

[817291 rows x 2 columns]

In [33]:
df_cross.isnull().values.any()

True

In [34]:
df_cross.isnull().sum()

genre    442
id         0
dtype: int64

In [35]:
df_cross['genre'] = df_cross.fillna('noGenre')

In [36]:
newdf_cross = pd.concat([pd.Series(row['id'], row['genre'].split('|'))
           for _, row in df_cross.iterrows()]).reset_index()

In [37]:
newdf_cross.columns

Index(['index', 0], dtype='object')

In [38]:
new_dfcross = pd.crosstab(newdf_cross[0], newdf_cross['index'])

In [39]:
new_dfcross

index,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,noGenre
0,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,1,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
11,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
13,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14,0,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
17,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,1,0,0,0
19,0,0,1,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
21,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
22,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
23,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
24,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
25,0,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
27,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
28,0,0,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
30,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817262,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817263,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
817264,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
817265,0,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
817266,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817267,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
817268,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
817269,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817270,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
817271,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817272,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817273,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817274,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
817275,0,0,0,0,0,1,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817276,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
817277,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
817278,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
817279,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
817280,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817281,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
817282,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817283,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817284,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
817285,0,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
817286,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
817287,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817288,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817289,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817290,0,0,0,0,1,1,1,0,1,0,...,0,1,0,0,0,0,0,0,0,0
817291,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
new_dfcross.rename(columns={'index': 'genre', 0: 'id'}, inplace=True)

In [41]:
new_dfcross.columns

Index(['Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir',
       'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News',
       'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show',
       'Thriller', 'War', 'Western', 'noGenre'],
      dtype='object', name='index')

In [42]:
result = pd.merge(df_final.reset_index(),
                  new_dfcross.reset_index(), 
                  left_index=True, 
                  right_index=True)
result

,index,user_id,movie_id,rating,date,time,movie_title,genre,movie_year,twitter_id,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,noGenre
0,0,15737,95631,10,2013-02-28,23:20:01,Midnight Run,Action|Comedy|Crime|Thriller,1988,19039635,...,0,0,0,0,0,0,1,0,0,0
1,1,2232,1853728,9,2013-02-28,23:49:26,Django Unchained,Drama|Western,2012,121246530,...,0,0,0,0,0,0,0,0,1,0
2,2,16730,1981677,5,2013-02-28,21:47:13,Pitch Perfect,Comedy|Music|Romance,2012,230985233,...,0,1,0,0,0,0,0,0,0,0
3,3,3726,93389,9,2013-02-28,23:19:58,The Last Emperor,Biography|Drama|History,1987,600317970,...,0,0,0,0,0,0,0,0,0,0
4,4,3674,1277953,7,2013-02-28,21:32:09,Madagascar 3: Europe's Most Wanted,Animation|Adventure|Comedy|Family,2012,66723750,...,0,0,0,0,0,0,0,0,0,0
5,5,32916,975645,7,2013-02-28,21:09:50,Hitchcock,Biography|Comedy|Drama|Romance,2012,317396727,...,0,1,0,0,0,0,0,0,0,0
6,6,53692,67989,8,2013-02-28,16:24:58,Wild Rovers,Western,1971,110872248,...,0,0,0,0,0,0,0,0,1,0
7,7,17799,1454029,8,2013-02-28,21:12:36,The Help,Drama,2011,397449062,...,0,0,0,0,0,0,0,0,0,0
8,8,41759,2171847,6,2013-02-28,14:38:27,Dead Mine,Action|Horror,2012,105210134,...,0,0,0,0,0,0,0,0,0,0
9,9,45875,884328,7,2013-02-28,15:08:24,The Mist,Horror|Sci-Fi,2007,206144706,...,0,0,1,0,0,0,0,0,0,0
10,10,13967,825232,8,2013-02-28,18:02:44,The Bucket List,Adventure|Comedy|Drama,2007,221804185,...,0,0,0,0,0,0,0,0,0,0
11,11,31368,1649419,7,2013-02-28,23:05:22,Lo imposible,Drama|History|Thriller,2012,374409594,...,0,0,0,0,0,0,1,0,0,0
12,12,37388,1648179,6,2013-02-28,16:11:28,Here Comes the Boom,Action|Comedy|Sport,2012,44121195,...,0,0,0,0,1,0,0,0,0,0
13,13,6595,1772341,7,2013-02-28,20:23:36,Wreck-It Ralph,Animation|Adventure|Comedy|Family|Fantasy,2012,520501429,...,0,0,0,0,0,0,0,0,0,0
14,14,30118,1547234,7,2013-02-28,23:01:18,Premium Rush,Action|Crime|Thriller,2012,97976056,...,0,0,0,0,0,0,1,0,0,0
15,15,30118,1855199,8,2013-02-28,23:06:43,End of Watch,Action|Crime|Drama|Thriller,2012,97976056,...,0,0,0,0,0,0,1,0,0,0
16,16,33134,335345,7,2013-02-28,23:54:05,The Passion of the Christ,Drama,2004,75176165,...,0,0,0,0,0,0,0,0,0,0
17,17,30118,1840417,7,2013-02-28,22:57:45,The Words,Drama|Mystery|Romance|Thriller,2012,97976056,...,0,1,0,0,0,0,1,0,0,0
18,18,31083,970179,8,2013-02-28,16:51:03,Hugo,Adventure|Drama|Family|Fantasy|Mystery|Romance,2011,239535897,...,0,1,0,0,0,0,0,0,0,0
19,19,49486,1748179,5,2013-02-28,22:14:06,Red Lights,Drama|Fantasy|Horror|Mystery|Thriller,2012,126262060,...,0,0,0,0,0,0,1,0,0,0
20,20,28823,373283,5,2013-02-28,16:41:14,Saints and Soldiers,Action|Drama|War,2003,586871840,...,0,0,0,0,0,0,0,1,0,0
21,21,49318,1371111,6,2013-02-28,16:08:29,Cloud Atlas,Action|Drama|Mystery|Sci-Fi,2012,15835543,...,0,0,1,0,0,0,0,0,0,0
22,22,36382,1568338,7,2013-02-28,18:32:30,Man on a Ledge,Action|Adventure|Crime|Thriller,2012,249246669,...,0,0,0,0,0,0,1,0,0,0
23,23,45392,1907668,9,2013-02-28,20:20:05,Flight,Drama|Thriller,2012,188842126,...,0,0,0,0,0,0,1,0,0,0
24,24,22226,1217209,7,2013-02-28,20:34:31,Brave,Animation|Adventure|Comedy|Family|Fantasy,2012,36617266,...,0,0,0,0,0,0,0,0,0,0
25,25,35832,338216,6,2013-02-28,16:00:29,Lucky You,Drama|Romance|Sport,2007,242822990,...,0,1,0,0,1,0,0,0,0,0
26,26,3565,1397280,6,2013-02-28,22:09:27,Taken 2,Action|Thriller,2012,142614183,...,0,0,0,0,0,0,1,0,0,0
27,27,24674,245429,8,2013-02-28,22:15:24,De reis van Chihiro,Animation|Adventure|Family|Fantasy|Mystery,2001,596169027,...,0,0,0,0,0,0,0,0,0,0
28,28,10629,1649419,7,2013-02-28,23:39:05,Lo imposible,Drama|History|Thriller,2012,203971156,...,0,0,0,0,0,0,1,0,0,0
29,29,54301,1707386,7,2013-02-28,22:29:14,Les Misérables,Drama|History|Musical|Romance|War,2012,18074586,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817261,817261,41805,119488,10,2019-11-18,16:58:56,L.A. Confidential,Crime|Drama|Mystery|Thriller,1997,1048535406,...,0,0,0,0,0,0,1,0,0,0
817262,817262,12357,34583,8,2019-11-18,08:48:39,Casablanca,Drama|Romance|War,1942,1532127426,...,0,1,0,0,0,0,0,1,0,0
817263,817263,45608,230600,8,2019-11-18,14:01:22,The Others,Horror|Mystery|Thriller,2001,299336307,...,0,0,0,0,0,0,1,0,0,0
817264,817264,16276,4729430,8,2019-11-18,17:08:37,Klaus,Animation|Adventure|Comedy|Family,2019,24414732,...,0,0,0,0,0,0,0,0,0,0
817265,817265,29254,6751668,10,2019-11-18,21:39:37,Gisaengchung,Drama,2019,2199189492,...,0,0,0,0,0,0,0,0,0,0
817266,817266,37628,3541524,3,2019-11-18,00:17:43,Line of Duty,Action|Thriller,2019,2865053282,...,0,0,0,0,0,0,1,0,0,0
817267,817267,37628,5959952,6,2019-11-18,22:39:46,Mission Control: The Unsung Heroes of Apollo,Documentary|History,2017,2865053282,...,0,0,0,0,0,0,0,0,0,0
817268,817268,8889,758774,7,2019-11-18,06:52:15,Body of Lies,Action|Drama|Thriller,2008,24661013,...,0,0,0,0,0,0,1,0,0,0
817269,817269,20436,114367,5,2019-11-18,05:05:56,Screamers,Horror|Sci-Fi|Thriller,1995,8170802,...,0,0,1,0,0,0,1,0,0,0
817270,817270,9262,9243946,8,2019-11-18,17:53:13,El Camino: A Breaking Bad Movie,Action|Drama,2019,588582193,...,0,0,0,0,0,0,0,0,0,0
817271,817271,18655,5606664,8,2019-11-18,11:55:18,Doctor Sleep,Horror,2019,179084872,...,0,0,0,0,0,0,0,0,0,0
817272,817272,33581,6053438,8,2019-11-18,21:19:44,First Reformed,Drama|Mystery|Thriller,2017,406264979,...,0,0,0,0,0,0,1,0,0,0
817273,817273,9342,33774,8,2019-11-18,21:43:12,Johnny Eager,Crime|Film-Noir|Thriller,1941,2901954512,...,0,0,0,0,0,0,1,0,0,0
817274,817274,13347,887883,6,2019-11-18,18:35:29,Burn After Reading,Comedy|Crime|Drama|Thriller,2008,3673319473,...,0,0,0,0,0,0,1,0,0,0
817275,817275,19380,6924650,5,2019-11-18,04:53:16,Midway,Action|Drama|History|War,2019,3777274998,...,0,0,0,0,0,0,0,1,0,0
817276,817276,45255,1950186,10,2019-11-18,07:41:42,Ford v Ferrari,Action|Biography|Drama|Sport,2019,41910108,...,0,0,0,0,1,0,0,0,0,0
817277,817277,3927,1300854,10,2019-11-18,15:50:15,Iron Man 3,Action|Adventure|Sci-Fi,2013,1005659528573177856,...,0,0,1,0,0,0,0,0,0,0
817278,817278,12694,6535880,6,2019-11-18,14:33:24,Haunt,Horror|Thriller,2019,1128688536,...,0,0,0,0,0,0,1,0,0,0
817279,817279,49256,8359816,10,2019-11-18,20:46:32,Sorry We Missed You,Drama,2019,117130627,...,0,0,0,0,0,0,0,0,0,0
817280,817280,1011,1950186,5,2019-11-18,14:11:58,Ford v Ferrari,Action|Biography|Drama|Sport,2019,2589591721,...,0,0,0,0,1,0,0,0,0,0
817281,817281,1011,71853,9,2019-11-18,01:28:02,Monty Python and the Holy Grail,Adventure|Comedy|Fantasy,1975,2589591721,...,0,0,0,0,0,0,0,0,0,0
817282,817282,59066,114369,8,2019-11-18,06:48:10,Se7en,Crime|Drama|Mystery|Thriller,1995,1068817828776689664,...,0,0,0,0,0,0,1,0,0,0
817283,817283,43273,9134216,5,2019-11-18,17:37:30,Playing with Fire,Comedy|Family,2019,760262077520965632,...,0,0,0,0,0,0,0,0,0,0
817284,817284,18742,4729430,9,2019-11-18,16:11:24,Klaus,Animation|Adventure|Comedy|Family,2019,1530175243,...,0,0,0,0,0,0,0,0,0,0
817285,817285,47029,5886046,7,2019-11-18,18:35:40,Escape Room,Action|Adventure|Horror|Mystery|Thriller,2019,374312538,...,0,0,0,0,0,0,1,0,0,0
817286,817286,12466,327597,8,2019-11-18,15:56:18,Coraline,Animation|Drama|Fantasy|Thriller,2009,1145276551174524928,...,0,0,0,0,0,0,1,0,0,0
817287,817287,27581,6214928,4,2019-11-18,03:48:01,1922,Crime|Drama|Horror|Mystery|Thriller,2017,53930437,...,0,0,0,0,0,0,1,0,0,0
817288,817288,4071,5033998,6,2019-11-18,16:56:49,Charlie's Angels,Action|Adventure|Comedy,2019,407774026,...,0,0,0,0,0,0,0,0,0,0
817289,817289,45050,2837574,7,2019-11-18,16:07:52,The Old Man &amp; the Gun,Biography|Comedy|Crime|Drama|Romance,2018,1095691519120560129,...,0,1,0,0,0,0,0,0,0,0
817290,817290,28692,5033998,9,2019-11-18,14:02:25,Charlie's Angels,Action|Adventure|Comedy,2019,3168203550,...,0,0,0,0,0,0,0,0,0,0

In [43]:
result.columns

Index([      'index',     'user_id',    'movie_id',      'rating',
              'date',        'time', 'movie_title',       'genre',
        'movie_year',  'twitter_id',             0,      'Action',
             'Adult',   'Adventure',   'Animation',   'Biography',
            'Comedy',       'Crime', 'Documentary',       'Drama',
            'Family',     'Fantasy',   'Film-Noir',   'Game-Show',
           'History',      'Horror',       'Music',     'Musical',
           'Mystery',        'News',  'Reality-TV',     'Romance',
            'Sci-Fi',       'Short',       'Sport',   'Talk-Show',
          'Thriller',         'War',     'Western',     'noGenre'],
      dtype='object')

In [44]:
itm_file.movie_id.unique().shape

(34508,)

In [45]:
itm_file.duplicated('movie_id')

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
34480    False
34481    False
34482    False
34483    False
34484    False
34485    False
34486    False
34487    False
34488    False
34489    False
34490    False
34491    False
34492    False
34493    False
34494    False
34495    False
34496    False
34497    False
34498    False
34499    False
34500    False
34501    False
34502    False
34503    False
34504    False
34505    False
34506    False
34507    False
34508    False
34509    False
Length: 34510, dtype: bool

In [46]:
result.movie_id.unique().shape

(34508,)

In [118]:
mv_df = itm_file

In [119]:
tes_coid = pd.DataFrame(data = pd.value_counts(result[['movie_id']].values.ravel()),columns=['count'])
tes_coid.shape

(34508, 1)

In [120]:
tes_coid.head()

         count
1454468   3067
816692    2743
993846    2737
770828    2663
816711    2402

In [121]:
tes_coid.reset_index(level=0, inplace=True) 
tes_coid.head()

     index  count
0  1454468   3067
1   816692   2743
2   993846   2737
3   770828   2663
4   816711   2402

In [122]:
tes_coid.columns = ['movie_id','count']

In [123]:
dolar = result['movie_title'] == '$'
result_dolar = result[dolar]
result_dolar

,index,user_id,movie_id,rating,date,time,movie_title,genre,movie_year,twitter_id,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,noGenre
20481,20481,47429,68152,8,2013-04-07,22:16:20,$,Comedy|Crime|Drama,1971,14782875,...,0,0,0,0,0,0,0,0,0,0
230500,230500,4261,68152,7,2014-04-18,12:41:46,$,Comedy|Crime|Drama,1971,78128381,...,0,0,0,0,0,0,0,0,0,0
375312,375312,17101,68152,4,2015-04-25,03:05:01,$,Comedy|Crime|Drama,1971,532582706,...,0,0,0,0,0,0,0,0,0,0

In [124]:
grouped_data = result.groupby('movie_id')
rating = pd.DataFrame(grouped_data['rating'].mean().round(2))
rating.reset_index(level=0, inplace=True) 
rating.head()

   movie_id  rating
0        10    10.0
1        12    10.0
2        25     8.0
3        91     6.0
4       131     7.0

In [125]:
rating.shape

(34508, 2)

In [126]:
tes_coid = pd.merge(tes_coid,rating, on='movie_id',how='outer')
tes_coid = pd.merge(mv_df,tes_coid, on='movie_id',how='outer')
tes_coid

,movie_id,movie_title,genre,movie_year,count,rating
0,10,La sortie des usines Lumière,Documentary|Short,1895,1,10.00
1,12,The Arrival of a Train,Documentary|Short,1896,1,10.00
2,25,The Oxford and Cambridge University Boat Race,NaN,1895,1,8.00
3,91,Le manoir du diable,Short|Horror,1896,3,6.00
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00
7,443,"Hiawatha, the Messiah of the Ojibway",NaN,1903,1,8.00
8,628,The Adventures of Dollie,Action|Short,1908,2,4.50
9,833,The Country Doctor,Short|Drama,1909,1,3.00
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00
11,1740,The Lonedale Operator,Short|Drama|Romance,1911,1,4.00
12,2101,Cleopatra,Drama|History,1912,1,4.00
13,2130,L'inferno,Adventure|Drama|Fantasy|Horror,1911,1,5.00
14,2354,Max et Jane veulent faire du théâtre,Short|Comedy|Romance,1911,1,8.00
15,2844,Fantômas - À l'ombre de la guillotine,Crime|Drama,1913,1,6.00
16,3740,Cabiria,Adventure|Drama|History,1914,2,7.50
17,3863,Dough and Dynamite,Comedy|Short,1914,1,10.00
18,4099,"His Majesty, the Scarecrow of Oz",Family|Fantasy|Adventure|Comedy,1914,2,7.00
19,4100,His Musical Career,Short|Comedy,1914,1,6.00
20,4101,His New Profession,Short|Comedy,1914,1,10.00
21,4210,Laughing Gas,Short|Comedy,1914,1,10.00
22,4395,The New Janitor,Short|Comedy,1914,1,10.00
23,4457,The Patchwork Girl of Oz,Adventure|Family|Fantasy,1914,1,6.00
24,4518,Recreation,Comedy|Short,1914,1,6.00
25,4546,The Rounders,Comedy|Short,1914,2,8.50
26,4936,The Bank,Comedy|Short,1915,2,6.50
27,4972,The Birth of a Nation,Drama|History|War,1915,4,7.50
28,5074,The Champion,Short|Comedy|Sport,1915,1,10.00
29,5078,The Cheat,Drama,1915,1,4.00
...,...,...,...,...,...,...
34480,10763914,Dilsiz,Drama,2019,1,5.00
34481,10765852,Metallica &amp; San Francisco Symphony - S&amp;M2,Music,2019,4,8.75
34482,10767426,Tekst,Drama|Thriller,2019,1,7.00
34483,10785310,Três Verões,Drama,2019,1,6.00
34484,10805432,Fanxiao,Thriller,2019,2,8.00
34485,10810424,Dave Chappelle: Sticks &amp; Stones,Comedy,2019,43,8.60
34486,10814494,Mei,Action,2019,1,6.00
34487,10847194,Jeff Dunham: Beside Himself,Comedy,2019,1,7.00
34488,10847306,Bill Burr: Paper Tiger,Comedy,2019,24,9.08
34489,10847330,Mo Gilligan: Momentum,Comedy,2019,2,7.00
34490,10856726,Travis Scott: Look Mom I Can Fly,Documentary|Music,2019,24,8.50
34491,10860558,Baglilik Asli,Drama,2019,2,7.00
34492,10895830,Sixer,Comedy,2019,1,5.00
34493,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43
34494,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00
34495,10952752,Nikki Glaser: Bangin',Comedy,2019,2,5.50
34496,10954364,Savage X Fenty Show,Biography|Music,2019,3,8.67
34497,10968482,Venpa,Romance,2019,1,8.00
34498,10971520,Jenny Slate: Stage Fright,Comedy,2019,2,5.50
34499,10977680,Deon Cole: Cole Hearted,Comedy,2019,2,7.00
34500,10987544,The Forest of Love,Crime,2019,1,1.00
34501,11033952,Square One,Documentary,2019,1,10.00
34502,11064486,Puppy,Drama,2019,1,5.00
34503,11066130,Upstarts,Drama,2019,2,7.00
34504,11075870,Soluk,Drama,2019,1,4.00
34505,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00
34506,11127056,Fire in Paradise,Documentary|Short,2019,1,7.00
34507,11163028,House Arrest,Comedy,2019,1,2.00
34508,11168100,Seth Meyers: Lobby Baby,Comedy,2019,1,8.00
34509,11212096,In Search of the Earth-Mother of Anatolia,NaN,2019,1,10.00

In [58]:
df = tes_coid[tes_coid['genre'] == 'Romance']
df.sort_values(by=['count'],ascending=False)

(29,)

In [59]:
vote_counts = tes_coid[tes_coid['count'].notnull()]['count'].astype('int')
vote_avergs = tes_coid[tes_coid['rating'].notnull()]['rating'].astype('int')
C = vote_avergs.mean()
C

6.460909881193857

In [60]:
m= vote_counts.quantile(0.95)
m

89.54999999999563

In [61]:
qualified = tes_coid[(tes_coid['count'] >= m) &
                  (tes_coid['count'].notnull())&
                  (tes_coid['rating'].notnull())][['movie_title',
                                                'movie_year',
                                                'count',
                                                'rating',
                                                'genre']]
qualified['count'] = qualified['count'].astype('int')
qualified['rating'] = qualified['rating'].astype('int')
qualified.shape

(1726, 5)

In [62]:
def weighted_rating(x):
    V = x['count']
    R = x['rating']
    return (V/(V+m) * R) +(m/(m+V) * C)

In [63]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [64]:
qualified = qualified.sort_values('wr', ascending = False).head(250)

### Top Movies

In [65]:
qualified.head(15)

,movie_title,movie_year,count,rating,genre,wr
33189,Joker,2019,2232,9,Crime|Drama|Thriller,8.902059
28648,Avengers: Endgame,2019,1363,9,Action|Adventure|Fantasy|Sci-Fi,8.843465
8425,The Shawshank Redemption,1994,998,9,Drama,8.790929
17993,Inception,2010,875,9,Action|Adventure|Sci-Fi|Thriller,8.764268
8271,Forrest Gump,1994,774,9,Drama|Romance,8.736697
2037,12 Angry Men,1957,691,9,Crime|Drama,8.708698
14476,The Dark Knight,2008,664,9,Action|Crime|Drama|Thriller,8.698261
3891,The Godfather,1972,592,9,Crime|Drama,8.666385
9477,The Green Mile,1999,438,9,Crime|Drama|Fantasy|Mystery,8.568997
8118,Schindler's List,1993,414,9,Biography|Drama|History,8.548455
31008,Be Somebody,2016,353,9,Comedy|Drama|Romance,8.486215
10252,The Lord of the Rings: The Return of the King,2003,332,9,Adventure|Drama|Fantasy,8.460620
4202,The Godfather: Part II,1974,326,9,Crime|Drama,8.452832
3005,"Il buono, il brutto, il cattivo",1966,323,9,Western,8.448853
1143,It's a Wonderful Life,1946,285,9,Drama|Family|Fantasy,8.392937

In [66]:
joker = itm_file['movie_title'] == 'Joker'
df_joker = itm_file[joker]
df_joker

       movie_id movie_title                 genre movie_year
21113   1918886       Joker  Comedy|Family|Sci-Fi       2012
33189   7286456       Joker  Crime|Drama|Thriller       2019

In [67]:
itm_file['movie_id'].unique().shape

(34508,)

In [68]:
itm_file['movie_title'].unique().shape

(33116,)

In [69]:
s = tes_coid['genre'].str.split('|').apply(pd.Series, 1).stack()
s

0      0    Documentary
       1          Short
1      0    Documentary
       1          Short
3      0          Short
       1         Horror
4      0          Short
       1         Comedy
       2         Horror
5      0          Short
       1         Action
       2      Adventure
       3         Comedy
       4        Fantasy
       5         Sci-Fi
6      0          Short
       1         Action
       2          Crime
       3        Western
8      0         Action
       1          Short
9      0          Short
       1          Drama
10     0          Short
       1         Horror
       2         Sci-Fi
11     0          Short
       1          Drama
       2        Romance
12     0          Drama
               ...
34490  1          Music
34491  0          Drama
34492  0         Comedy
34493  0    Documentary
       1          Drama
       2        Mystery
34494  0          Short
       1         Action
       2      Adventure
       3        Fantasy
       4         Sci-Fi
34495  0         Comedy
34496  0      Biography
       1          Music
34497  0        Romance
34498  0         Comedy
34499  0         Comedy
34500  0          Crime
34501  0    Documentary
34502  0          Drama
34503  0          Drama
34504  0          Drama
34505  0      Animation
       1         Action
       2          Crime
       3         Sci-Fi
34506  0    Documentary
       1          Short
34507  0         Comedy
34508  0         Comedy
Length: 82060, dtype: object

In [131]:
s = tes_coid['genre'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'genres'
tes_coid.join(s.apply(lambda x: pd.Series(x.split('|'))))
tes_coid = tes_coid.join(s)
tes_coid

,movie_id,movie_title,genre,movie_year,count,rating,genres
0,10,La sortie des usines Lumière,Documentary|Short,1895,1,10.00,Documentary
0,10,La sortie des usines Lumière,Documentary|Short,1895,1,10.00,Short
1,12,The Arrival of a Train,Documentary|Short,1896,1,10.00,Documentary
1,12,The Arrival of a Train,Documentary|Short,1896,1,10.00,Short
2,25,The Oxford and Cambridge University Boat Race,NaN,1895,1,8.00,NaN
3,91,Le manoir du diable,Short|Horror,1896,3,6.00,Short
3,91,Le manoir du diable,Short|Horror,1896,3,6.00,Horror
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00,Short
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00,Comedy
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00,Horror
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Short
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Action
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Adventure
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Comedy
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Fantasy
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Sci-Fi
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Short
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Action
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Crime
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Western
7,443,"Hiawatha, the Messiah of the Ojibway",NaN,1903,1,8.00,NaN
8,628,The Adventures of Dollie,Action|Short,1908,2,4.50,Action
8,628,The Adventures of Dollie,Action|Short,1908,2,4.50,Short
9,833,The Country Doctor,Short|Drama,1909,1,3.00,Short
9,833,The Country Doctor,Short|Drama,1909,1,3.00,Drama
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00,Short
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00,Horror
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00,Sci-Fi
11,1740,The Lonedale Operator,Short|Drama|Romance,1911,1,4.00,Short
11,1740,The Lonedale Operator,Short|Drama|Romance,1911,1,4.00,Drama
...,...,...,...,...,...,...,...
34491,10860558,Baglilik Asli,Drama,2019,2,7.00,Drama
34492,10895830,Sixer,Comedy,2019,1,5.00,Comedy
34493,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43,Documentary
34493,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43,Drama
34493,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43,Mystery
34494,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Short
34494,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Action
34494,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Adventure
34494,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Fantasy
34494,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Sci-Fi
34495,10952752,Nikki Glaser: Bangin',Comedy,2019,2,5.50,Comedy
34496,10954364,Savage X Fenty Show,Biography|Music,2019,3,8.67,Biography
34496,10954364,Savage X Fenty Show,Biography|Music,2019,3,8.67,Music
34497,10968482,Venpa,Romance,2019,1,8.00,Romance
34498,10971520,Jenny Slate: Stage Fright,Comedy,2019,2,5.50,Comedy
34499,10977680,Deon Cole: Cole Hearted,Comedy,2019,2,7.00,Comedy
34500,10987544,The Forest of Love,Crime,2019,1,1.00,Crime
34501,11033952,Square One,Documentary,2019,1,10.00,Documentary
34502,11064486,Puppy,Drama,2019,1,5.00,Drama
34503,11066130,Upstarts,Drama,2019,2,7.00,Drama
34504,11075870,Soluk,Drama,2019,1,4.00,Drama
34505,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Animation
34505,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Action
34505,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Crime
34505,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Sci-Fi
34506,11127056,Fire in Paradise,Documentary|Short,2019,1,7.00,Documentary
34506,11127056,Fire in Paradise,Documentary|Short,2019,1,7.00,Short
34507,11163028,House Arrest,Comedy,2019,1,2.00,Comedy
34508,11168100,Seth Meyers: Lobby Baby,Comedy,2019,1,8.00,Comedy
34509,11212096,In Search of the Earth-Mother of Anatolia,NaN,2019,1,10.00,NaN

In [ ]:
qualified = tes_coid[(tes_coid['count'] >= m) &
                  (tes_coid['count'].notnull())&
                  (tes_coid['rating'].notnull())][['movie_title',
                                                'movie_year',
                                                'count',
                                                'rating',
                                                'genre']]
qualified['count'] = qualified['count'].astype('int')
qualified['rating'] = qualified['rating'].astype('int')
qualified.shape 
def weighted_rating(x):
    V = x['count']
    R = x['rating']
    return (V/(V+m) * R) +(m/(m+V) * C)

In [132]:
def build_chart(genre,percentile = 0.85):
    df = tes_coid[tes_coid['genres'] == genre]
    vote_counts = df[df['count'].notnull()]['count'].astype('int')
    vote_averag = df[df['rating'].notnull()]['rating'].astype('int')
    C = vote_averag.mean()
    m = vote_counts.quantile(percentile)
    print(m)
    qualified = df[(df['count']>=m)&
                   (df['count'].notnull()) &
                   (df['rating'].notnull())][['movie_title',
                                              'movie_year',
                                              'count',
                                              'rating',
                                              'genre']]
    qualified['count'] = qualified['count'].astype('int')
    qualified['rating'] = qualified['rating'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x:(x['count']/(x['count']+m)*x['rating'])+(m/(m+x['count'])*C), axis = 1)
    qualified = qualified.sort_values('wr', ascending = False).head(250)
    

    return qualified

In [128]:
m

89.54999999999563

In [129]:
C

6.460909881193857

In [136]:
build_chart('Sci-Fi').head(15)

67.0

,movie_title,movie_year,count,rating,genre,wr
28648,Avengers: Endgame,2019,1363,9,Action|Adventure|Fantasy|Sci-Fi,8.853379
17993,Inception,2010,875,9,Action|Adventure|Sci-Fi|Thriller,8.777423
7642,Terminator 2: Judgment Day,1991,234,9,Action|Sci-Fi,8.303429
18410,Gravity,2013,3067,8,Drama|Sci-Fi|Thriller,7.954477
15338,Interstellar,2014,2743,8,Adventure|Drama|Sci-Fi,7.949228
18074,Mad Max: Fury Road,2015,1911,8,Action|Adventure|Sci-Fi|Thriller,7.927873
18151,Star Trek Into Darkness,2013,1879,8,Action|Adventure|Sci-Fi,7.926687
18281,Deadpool,2016,1843,8,Action|Adventure|Comedy|Sci-Fi,7.925305
20490,Her,2013,1771,8,Drama|Romance|Sci-Fi,7.922379
20967,X-Men: Days of Future Past,2014,1752,8,Action|Adventure|Sci-Fi|Thriller,7.921568
20763,Captain America: The Winter Soldier,2014,1701,8,Action|Adventure|Sci-Fi|Thriller,7.919305
21587,Guardians of the Galaxy,2014,1624,8,Action|Adventure|Comedy|Sci-Fi,7.915631
24175,Star Wars: The Force Awakens,2015,1539,8,Action|Adventure|Fantasy|Sci-Fi,7.911166
27072,Captain America: Civil War,2016,1445,8,Action|Adventure|Sci-Fi,7.905643
26558,Logan,2017,1443,8,Action|Drama|Sci-Fi|Thriller,7.905518

## Content based recommendation system

In [ ]:
s = pd.concat([pd.Series(row['id'], row['genre'].split('|'))
           for _, row in df_cross.iterrows()]).reset_index()

col = [movies]
for i in movies:
    count_m = (result[result.movie_title == i].shape[0])

#  Pruebas

In [48]:
df_testing = pd.DataFrame(df_final.genre)

pruebas = df_testing.head()
jj = int(pruebas.count()+1)
pruebas['id'] = pd.Series(range(1,jj))

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [49]:
pruebas

                                             genre  id
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1
1            Drama|Fantasy|Horror|Mystery|Thriller   2
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3
3                          Action|Adventure|Sci-Fi   4
4                  Action|Adventure|Drama|Thriller   5

In [50]:
pd.concat([pd.Series(row['id'], row['genre'].split('|'))
           for _, row in pruebas.iterrows()]).reset_index()

        index  0
0      Action  1
1   Adventure  1
2     Mystery  1
3      Sci-Fi  1
4    Thriller  1
5       Drama  2
6     Fantasy  2
7      Horror  2
8     Mystery  2
9    Thriller  2
10     Action  3
11  Adventure  3
12    Fantasy  3
13     Horror  3
14     Sci-Fi  3
15   Thriller  3
16     Action  4
17  Adventure  4
18     Sci-Fi  4
19     Action  5
20  Adventure  5
21      Drama  5
22   Thriller  5

In [51]:
import pandas as pd
df = pd.DataFrame(['a b c']*100000, columns=['col'])
df.head()

     col
0  a b c
1  a b c
2  a b c
3  a b c
4  a b c

In [52]:
print (pd.DataFrame(dict(zip(range(3), [df['col'].apply(lambda x : x.split(' ')[i]) for i in range(3)]))).head())

   0  1  2
0  a  b  c
1  a  b  c
2  a  b  c
3  a  b  c
4  a  b  c

In [53]:
s = pruebas['genre'].str.split('|')
s

0       [Action, Adventure, Mystery, Sci-Fi, Thriller]
1          [Drama, Fantasy, Horror, Mystery, Thriller]
2    [Action, Adventure, Fantasy, Horror, Sci-Fi, T...
3                          [Action, Adventure, Sci-Fi]
4                 [Action, Adventure, Drama, Thriller]
Name: genre, dtype: object

In [54]:
q = pruebas['genre'].str.split('|').tolist()
q

[['Action', 'Adventure', 'Mystery', 'Sci-Fi', 'Thriller'],
 ['Drama', 'Fantasy', 'Horror', 'Mystery', 'Thriller'],
 ['Action', 'Adventure', 'Fantasy', 'Horror', 'Sci-Fi', 'Thriller'],
 ['Action', 'Adventure', 'Sci-Fi'],
 ['Action', 'Adventure', 'Drama', 'Thriller']]

In [55]:
pd.DataFrame(dict(zip(range(16), [pruebas['genre'].apply(lambda x : x.split('|')[i]) for i in range(2)])))

        0          1
0  Action  Adventure
1   Drama    Fantasy
2  Action  Adventure
3  Action  Adventure
4  Action  Adventure

In [56]:
s = pruebas['genre'].str.split('|').apply(pd.Series, 1).stack()
s

0  0       Action
   1    Adventure
   2      Mystery
   3       Sci-Fi
   4     Thriller
1  0        Drama
   1      Fantasy
   2       Horror
   3      Mystery
   4     Thriller
2  0       Action
   1    Adventure
   2      Fantasy
   3       Horror
   4       Sci-Fi
   5     Thriller
3  0       Action
   1    Adventure
   2       Sci-Fi
4  0       Action
   1    Adventure
   2        Drama
   3     Thriller
dtype: object

In [57]:
s.index = s.index.droplevel(-1)
s.name = 'genres'
s

0       Action
0    Adventure
0      Mystery
0       Sci-Fi
0     Thriller
1        Drama
1      Fantasy
1       Horror
1      Mystery
1     Thriller
2       Action
2    Adventure
2      Fantasy
2       Horror
2       Sci-Fi
2     Thriller
3       Action
3    Adventure
3       Sci-Fi
4       Action
4    Adventure
4        Drama
4     Thriller
Name: genres, dtype: object

In [58]:
# s = pruebas['genre']
s = pruebas['genre'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'genres'
pruebas.join(s.apply(lambda x: pd.Series(x.split('|'))))
pruebas = pruebas.join(s)
pruebas

                                             genre  id     genres
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1     Action
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1  Adventure
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1    Mystery
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1     Sci-Fi
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1   Thriller
1            Drama|Fantasy|Horror|Mystery|Thriller   2      Drama
1            Drama|Fantasy|Horror|Mystery|Thriller   2    Fantasy
1            Drama|Fantasy|Horror|Mystery|Thriller   2     Horror
1            Drama|Fantasy|Horror|Mystery|Thriller   2    Mystery
1            Drama|Fantasy|Horror|Mystery|Thriller   2   Thriller
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3     Action
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3  Adventure
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3    Fantasy
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3     Horror
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3     Sci-Fi
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3   Thriller
3                          Action|Adventure|Sci-Fi   4     Action
3                          Action|Adventure|Sci-Fi   4  Adventure
3                          Action|Adventure|Sci-Fi   4     Sci-Fi
4                  Action|Adventure|Drama|Thriller   5     Action
4                  Action|Adventure|Drama|Thriller   5  Adventure
4                  Action|Adventure|Drama|Thriller   5      Drama
4                  Action|Adventure|Drama|Thriller   5   Thriller

In [59]:
uni_gen = pruebas['genres'].unique()
uni_gen

array(['Action', 'Adventure', 'Mystery', 'Sci-Fi', 'Thriller', 'Drama',
       'Fantasy', 'Horror'], dtype=object)

In [60]:
process = pd.get_dummies(pd.Series(list(pruebas['genres'])))

In [61]:
result = pd.merge(pruebas.reset_index(),
                  process.reset_index(), 
                  left_index=True, 
                  right_index=True)
result

,index_x,genre,id,genres,index_y,Action,Adventure,Drama,Fantasy,Horror,Mystery,Sci-Fi,Thriller
0,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Action,0,1,0,0,0,0,0,0,0
1,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Adventure,1,0,1,0,0,0,0,0,0
2,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Mystery,2,0,0,0,0,0,1,0,0
3,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Sci-Fi,3,0,0,0,0,0,0,1,0
4,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Thriller,4,0,0,0,0,0,0,0,1
5,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Drama,5,0,0,1,0,0,0,0,0
6,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Fantasy,6,0,0,0,1,0,0,0,0
7,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Horror,7,0,0,0,0,1,0,0,0
8,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Mystery,8,0,0,0,0,0,1,0,0
9,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Thriller,9,0,0,0,0,0,0,0,1
10,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Action,10,1,0,0,0,0,0,0,0
11,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Adventure,11,0,1,0,0,0,0,0,0
12,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Fantasy,12,0,0,0,1,0,0,0,0
13,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Horror,13,0,0,0,0,1,0,0,0
14,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Sci-Fi,14,0,0,0,0,0,0,1,0
15,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Thriller,15,0,0,0,0,0,0,0,1
16,3,Action|Adventure|Sci-Fi,4,Action,16,1,0,0,0,0,0,0,0
17,3,Action|Adventure|Sci-Fi,4,Adventure,17,0,1,0,0,0,0,0,0
18,3,Action|Adventure|Sci-Fi,4,Sci-Fi,18,0,0,0,0,0,0,1,0
19,4,Action|Adventure|Drama|Thriller,5,Action,19,1,0,0,0,0,0,0,0
20,4,Action|Adventure|Drama|Thriller,5,Adventure,20,0,1,0,0,0,0,0,0
21,4,Action|Adventure|Drama|Thriller,5,Drama,21,0,0,1,0,0,0,0,0
22,4,Action|Adventure|Drama|Thriller,5,Thriller,22,0,0,0,0,0,0,0,1

In [62]:
new_df = pd.crosstab(result['id'], result['genres'])

In [63]:
new_df

genres  Action  Adventure  Drama  Fantasy  Horror  Mystery  Sci-Fi  Thriller
id
1            1          1      0        0       0        1       1         1
2            0          0      1        1       1        1       0         1
3            1          1      0        1       1        0       1         1
4            1          1      0        0       0        0       1         0
5            1          1      1        0       0        0       0         1

In [64]:
data = pd.DataFrame(columns=(uni_gen))
data['id'] = pd.Series(range(1,jj))
data

  Action Adventure Mystery Sci-Fi Thriller Drama Fantasy Horror  id
0    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   1
1    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   2
2    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   3
3    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   4
4    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   5

In [65]:
df_final.shape

(816306, 9)

In [66]:
df_final['movie_title'].nunique()
#34314

33093

In [67]:
lista_m = itm_file['movie_title']

lista_f = df_final['movie_title']

In [68]:
df_final[['dID','hID']].groupby(df['mID']).agg(['count', 'size', 'nunique'])

KeyError: "['dID' 'hID'] not in index"

In [ ]:
lista_m.iloc['Joker']

is_male = lista_m.loc[:,] == 'Joker'
df_male = lista_m.loc[is_male]
df_male.head()

In [ ]:
lista_f = pd.DataFrame(lista_f)
lista_f

In [ ]:
#surveys_df.loc[[0, 10], :] surveys_df[surveys_df.year == 2002]

lista_m = pd.DataFrame(lista_m)
lista_m['movie_title'].iloc[2]

In [ ]:
lista_m.movie_title.dtypes

In [ ]:
lista_m.movie_title =='The Oxford and Cambridge University Boat Race'

In [ ]:
is_joker = lista_m.loc[:, 'movie_title'] == 'Upstarts'
df_joker = lista_m.loc[is_joker]
df_joker.head()

In [ ]:
is_joker.unique()

In [ ]:
comparacion = []
for item in lista_m:
    if item in lista_m:
        comparacion.append(item)

if len(comparacion) > 0:
    print('Ambas listas contienen estos elementos')
    for item in comparacion: print('%s' % item)

else:
    print('No existe ningun elemento igual en las listas')

In [ ]:
lista1=["paco","pepe","luis"]

lista2=["diego","mari","luis"]

comparacion = []

 

for item in lista1:

  if item in lista2:

    comparacion.append(item)

 

if len(comparacion) > 0:

  print 'Ambas listas contienen estos elementos'

  for item in comparacion: print '%s' % item

else:

  print 'No existe ningun elemento igual en las listas'

In [ ]:
n_col = df_final.columns

for col in n_col:
    print(df[col].unique)