In [1]:
import pandas as pd
import numpy as np
import requests
import io
from datetime import datetime

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

## Pruebas de carga local

itm_file = pd.read_csv('movies.dat', sep='::', engine='python')
use_file = pd.read_csv('users.dat', sep='::', engine='python')
rat_file = pd.read_csv('ratings.dat', sep='::', engine='python')

itm_file.columns = ['movie_id', 'movie_title', 'genre']
use_file.columns = ['userid', 'twitter_id']
rat_file.columns = ['user_id','movie_id','rating','rating_timestamp']

## Pruebas de carga desde una URL

url="https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/movies.dat"
c=pd.read_csv(url, sep='::',encoding='utf8',error_bad_lines=False,engine='python')
c.columns = ['movie_id', 'movie_title', 'genre']
c

## Inicio

In [2]:
url_items = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/movies.dat"
url_ratin = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/ratings.dat"
url_users = "https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/users.dat"

itm_file = pd.read_csv(url_items, sep='::',encoding='utf8',error_bad_lines=False,engine='python')
use_file = pd.read_csv(url_users, sep='::',encoding='utf8',error_bad_lines=False,engine='python')
rat_file = pd.read_csv(url_ratin, sep='::',encoding='utf8',error_bad_lines=False,engine='python')

itm_file.columns = ['movie_id', 'movie_title', 'genre']
use_file.columns = ['userid', 'twitter_id']
rat_file.columns = ['user_id','movie_id','rating','rating_timestamp']

In [3]:
itm_file.head()

,movie_id,movie_title,genre
0,10,La sortie des usines Lumière (1895),Documentary|Short
1,12,The Arrival of a Train (1896),Documentary|Short
2,25,The Oxford and Cambridge University Boat Race ...,NaN
3,91,Le manoir du diable (1896),Short|Horror
4,131,Une nuit terrible (1896),Short|Comedy|Horror

In [4]:
itm_file.shape

(34507, 3)

In [5]:
use_file.head()

   userid  twitter_id
0       2    40501255
1       3   417333257
2       4   138805259
3       5  2452094989
4       6   391774225

In [6]:
use_file.shape

(60445, 2)

In [7]:
use_file = use_file.rename(columns = {'userid':'user_id'})

In [8]:
rat_file.tail()

        user_id  movie_id  rating  rating_timestamp
816530    60444   8695030       1        1567816456
816531    60444   9398640       1        1569026144
816532    60445    816711       8        1371972851
816533    60446   1559547       2        1373287369
816534    60446   2415464       2        1373772560

In [9]:
rat_file.shape

(816535, 4)

In [10]:
rat_file['rating_timestamp'] = pd.to_datetime(rat_file['rating_timestamp'], unit='s')
rat_file.tail()

        user_id  movie_id  rating    rating_timestamp
816530    60444   8695030       1 2019-09-07 00:34:16
816531    60444   9398640       1 2019-09-21 00:35:44
816532    60445    816711       8 2013-06-23 07:34:11
816533    60446   1559547       2 2013-07-08 12:42:49
816534    60446   2415464       2 2013-07-14 03:29:20

In [11]:
rat_file = rat_file.rename(columns = {'rating_timestamp':'date'})
rat_file['time'] = rat_file['date'].astype(str)
rat_file['date'] = rat_file['date'].astype(str)

In [12]:
rat_file.time.dtype

dtype('O')

In [13]:
rat_file['date'] = rat_file['date'].str.split(' ').str[0]
rat_file['time'] = rat_file['time'].str[-8:]

In [14]:
rat_file.head()

   user_id  movie_id  rating        date      time
0        1    117060       7  2013-07-10  00:13:51
1        1    120755       6  2013-07-10  02:46:00
2        1    317919       6  2013-07-10  22:36:03
3        1    454876      10  2013-07-12  09:25:25
4        1    790724       8  2013-07-24  04:48:40

In [15]:
itm_file['movie_year'] = itm_file['movie_title']

In [16]:
itm_file['movie_title'] = itm_file['movie_title'].str.split('(').str[0]
itm_file['movie_title'] = itm_file['movie_title'].str.strip()
itm_file['movie_year'] = itm_file['movie_year'].str[-6:]

In [17]:
itm_file['movie_year'] = itm_file['movie_year'].str.split('(').str[1]
itm_file['movie_year'] = itm_file['movie_year'].str.split(')').str[0]

In [18]:
itm_file.head()

,movie_id,movie_title,genre,movie_year
0,10,La sortie des usines Lumière,Documentary|Short,1895
1,12,The Arrival of a Train,Documentary|Short,1896
2,25,The Oxford and Cambridge University Boat Race,NaN,1895
3,91,Le manoir du diable,Short|Horror,1896
4,131,Une nuit terrible,Short|Comedy|Horror,1896

In [19]:
itm_file.shape

(34507, 4)

In [20]:
df = rat_file

In [21]:
df.head()

   user_id  movie_id  rating        date      time
0        1    117060       7  2013-07-10  00:13:51
1        1    120755       6  2013-07-10  02:46:00
2        1    317919       6  2013-07-10  22:36:03
3        1    454876      10  2013-07-12  09:25:25
4        1    790724       8  2013-07-24  04:48:40

In [22]:
df['date']=df['date'].astype(str)

In [23]:
df.head()

   user_id  movie_id  rating        date      time
0        1    117060       7  2013-07-10  00:13:51
1        1    120755       6  2013-07-10  02:46:00
2        1    317919       6  2013-07-10  22:36:03
3        1    454876      10  2013-07-12  09:25:25
4        1    790724       8  2013-07-24  04:48:40

In [24]:
df['date']= pd.to_datetime(df['date'])

In [25]:
df['date'].unique()

array(['2013-07-10T00:00:00.000000000', '2013-07-12T00:00:00.000000000',
       '2013-07-24T00:00:00.000000000', ...,
       '2014-12-11T00:00:00.000000000', '2015-09-25T00:00:00.000000000',
       '2015-09-30T00:00:00.000000000'], dtype='datetime64[ns]')

In [26]:
df.head()

   user_id  movie_id  rating       date      time
0        1    117060       7 2013-07-10  00:13:51
1        1    120755       6 2013-07-10  02:46:00
2        1    317919       6 2013-07-10  22:36:03
3        1    454876      10 2013-07-12  09:25:25
4        1    790724       8 2013-07-24  04:48:40

In [27]:
df = df.sort_values(by='date')
df.reset_index(drop=True, inplace=True)
df.head()

   user_id  movie_id  rating       date      time
0     3753   1024648      10 2013-02-28  22:23:19
1    41006   1772341       7 2013-02-28  19:35:22
2     9443    949731       5 2013-02-28  15:26:34
3    15737     95631      10 2013-02-28  23:20:01
4     9443   1068680       7 2013-02-28  15:28:25

In [28]:
df_2 = pd.merge(df,itm_file, on='movie_id')

In [29]:
df_2.head()

,user_id,movie_id,rating,date,time,movie_title,genre,movie_year
0,3753,1024648,10,2013-02-28,22:23:19,Argo,Biography|Drama|Thriller,2012
1,3303,1024648,10,2013-02-28,21:07:08,Argo,Biography|Drama|Thriller,2012
2,43558,1024648,7,2013-02-28,21:21:38,Argo,Biography|Drama|Thriller,2012
3,31069,1024648,9,2013-02-28,19:27:40,Argo,Biography|Drama|Thriller,2012
4,21487,1024648,10,2013-02-28,18:18:22,Argo,Biography|Drama|Thriller,2012

In [30]:
df_final =pd.merge(df_2, use_file, on='user_id')
df_final = df_final.sort_values(by='date')
df_final.reset_index(drop=True, inplace=True)
df_final

,user_id,movie_id,rating,date,time,movie_title,genre,movie_year,twitter_id
0,3753,1024648,10,2013-02-28,22:23:19,Argo,Biography|Drama|Thriller,2012,91103330
1,1243,1204340,7,2013-02-28,19:38:13,Tyrannosaur,Drama,2011,212601503
2,7228,99685,8,2013-02-28,16:21:17,Goodfellas,Biography|Crime|Drama,1990,190537636
3,7228,1667310,7,2013-02-28,18:04:28,Deadfall,Crime|Drama|Thriller,2012,190537636
4,60136,482599,2,2013-02-28,19:48:38,Shutter,Horror|Mystery|Thriller,2008,21364033
5,60136,479968,1,2013-02-28,19:47:06,One Missed Call,Horror|Mystery,2008,21364033
6,60136,391198,3,2013-02-28,19:49:13,The Grudge,Horror|Mystery|Thriller,2004,21364033
7,7131,889573,5,2013-02-28,15:48:53,The Switch,Comedy|Drama|Romance,2010,239615275
8,1243,1596365,5,2013-02-28,22:10:55,The Woman in Black,Drama|Fantasy|Horror|Thriller,2012,212601503
9,7131,1411238,6,2013-02-28,14:47:18,No Strings Attached,Comedy|Romance,2011,239615275
10,9443,1068680,7,2013-02-28,15:28:25,Yes Man,Comedy|Romance,2008,124670134
11,9443,949731,5,2013-02-28,15:26:34,The Happening,Mystery|Sci-Fi|Thriller,2008,124670134
12,36459,1922777,6,2013-02-28,18:03:03,Sinister,Horror|Mystery|Thriller,2012,944321664
13,14063,1922777,6,2013-02-28,23:33:25,Sinister,Horror|Mystery|Thriller,2012,29190462
14,41461,1308729,10,2013-02-28,18:10:22,Bullet to the Head,Action|Crime|Thriller,2012,219635355
15,55311,1441326,5,2013-02-28,22:45:58,Martha Marcy May Marlene,Drama|Mystery|Thriller,2011,93705254
16,33749,983213,5,2013-02-28,21:07:23,Byôsoku 5 senchimêtoru,Animation|Drama|Romance,2007,97459712
17,9443,319343,6,2013-02-28,15:27:06,Elf,Comedy|Family|Fantasy|Romance,2003,124670134
18,16730,1981677,5,2013-02-28,21:47:13,Pitch Perfect,Comedy|Music|Romance,2012,230985233
19,44335,144084,8,2013-02-28,23:48:07,American Psycho,Crime|Drama,2000,344684430
20,48922,417148,6,2013-02-28,22:51:12,Snakes on a Plane,Action|Crime|Thriller,2006,20422186
21,58971,2109184,8,2013-02-28,23:45:11,Paranormal Activity 4,Horror|Mystery|Thriller,2012,103543666
22,3361,1045658,7,2013-02-28,16:19:29,Silver Linings Playbook,Comedy|Drama|Romance,2012,21503156
23,31463,1045658,8,2013-02-28,20:21:41,Silver Linings Playbook,Comedy|Drama|Romance,2012,148441678
24,8057,1045658,9,2013-02-28,20:34:30,Silver Linings Playbook,Comedy|Drama|Romance,2012,219956534
25,52400,1568338,7,2013-02-28,22:24:06,Man on a Ledge,Action|Adventure|Crime|Thriller,2012,41925614
26,30255,2125608,10,2013-02-28,20:56:31,Searching for Sugar Man,Documentary|Biography|Music,2012,36372507
27,7153,190590,7,2013-02-28,23:21:20,"O Brother, Where Art Thou?",Adventure|Comedy|Crime|Music,2000,20331863
28,48922,1606378,7,2013-02-28,22:51:38,A Good Day to Die Hard,Action|Thriller,2013,20422186
29,57274,1351685,8,2013-02-28,16:14:22,Jack the Giant Slayer,Adventure|Fantasy,2013,73131297
...,...,...,...,...,...,...,...,...,...
817113,26279,6751668,8,2019-11-17,18:13:27,Gisaengchung,Drama,2019,110026476
817114,49592,5613484,8,2019-11-17,02:44:26,Mid90s,Comedy|Drama,2018,34972668
817115,1924,8739752,8,2019-11-17,19:30:02,The Collini Case,Crime|Drama|Thriller,2019,709106318989250560
817116,30609,5606664,6,2019-11-17,23:22:45,Doctor Sleep,Horror,2019,423035694
817117,58133,1772341,8,2019-11-17,13:34:59,Wreck-It Ralph,Animation|Adventure|Comedy|Family|Fantasy,2012,1064430698
817118,46804,1950186,8,2019-11-17,12:09:23,Ford v Ferrari,Action|Biography|Drama|Sport,2019,9800812
817119,59260,7455754,8,2019-11-17,11:27:41,The Game Changers,Documentary,2018,254277051
817120,26867,845439,5,2019-11-17,00:45:30,Chaharshanbe-soori,Drama|Mystery|Romance,2006,829612993
817121,32936,7286456,10,2019-11-17,03:16:16,Joker,Crime|Drama|Thriller,2019,947945257660010497
817122,24115,1315981,8,2019-11-17,03:37:50,A Single Man,Drama|Romance,2009,3934833795
817123,17651,9430698,9,2019-11-17,20:59:36,One Piece: Stampede,Animation|Action|Adventure,2019,358258166
817124,57362,2283362,6,2019-11-17,20:16:43,Jumanji: Welcome to the Jungle,Action|Adventure|Comedy|Fantasy,2017,503047639
817125,24315,7671064,7,2019-11-17,21:28:29,Brittany Runs A Marathon,Comedy|Drama,2019,43349934
817126,50579,5563334,7,2019-11-17,18:47:03,The Good Liar,Drama,2019,888231732415254528
817127,46958,4364194,6,2019-11-17,18:40:52,The Peanut Butter Falcon,Adventure,2019,60919233
817128,53029,3235888,5,2019-11-17,13:51:03,It Follows,Horror|Mystery,2014,1195952196233248769
817129,40361,7390588,6,2019-11-17,21:32:42,Little Monsters,Comedy|Horror,2019,1922913571
817130,59211,6450804,7,2019-11-17,05:21:11,Terminator: Dark Fate,Action|Adventure|Sci-Fi,2019,44256144
817131,35230,1999995,6,2019-11-17,20:28:15,Would You Rather,Horror,2012,123284050
817132,42607,8144834,7,2019-11-17,05:01:51,Section 375,Crime|Drama,2019,60909762
817133,49137,7827944,5,2019-11-17,18:07:46,The Wedding Party 2: Destination Dubai,Comedy,2017,15704093
817134,49137,7624934,1,2019-11-17,01:35:01,Zoo,Comedy|Drama|Horror|Romance,2018,15704093
817135,52430,1950186,8,2019-11-17,18:40:18,Ford v Ferrari,Action|Biography|Drama|Sport,2019,568572966
817136,11144,6189022,4,2019-11-17,16:25:10,Angel Has Fallen,Action,2019,1184405412717780992
817137,13979,1025100,6,2019-11-17,15:50:18,Gemini Man,Action|Drama|Sci-Fi|Thriller,2019,2201253550
817138,17651,6320628,7,2019-11-17,13:43:20,Spider-Man: Far from Home,Action|Adventure|Comedy|Sci-Fi,2019,358258166
817139,7907,7286456,8,2019-11-17,02:30:45,Joker,Crime|Drama|Thriller,2019,825887017808568320
817140,41374,1950186,10,2019-11-17,07:16:29,Ford v Ferrari,Action|Biography|Drama|Sport,2019,392912342
817141,39501,5091612,8,2019-11-17,22:46:55,Un sac de billes,Drama,2017,229985772
817142,7318,9243946,6,2019-11-17,04:06:46,El Camino: A Breaking Bad Movie,Action|Drama,2019,481836708

In [31]:
df_cross = pd.DataFrame(df_final.genre)

numeration = int(len(df_final))+1
df_cross['id'] = pd.Series(range(1,numeration))

In [32]:
df_cross

                                            genre      id
0                        Biography|Drama|Thriller       1
1                                           Drama       2
2                           Biography|Crime|Drama       3
3                            Crime|Drama|Thriller       4
4                         Horror|Mystery|Thriller       5
5                                  Horror|Mystery       6
6                         Horror|Mystery|Thriller       7
7                            Comedy|Drama|Romance       8
8                   Drama|Fantasy|Horror|Thriller       9
9                                  Comedy|Romance      10
10                                 Comedy|Romance      11
11                        Mystery|Sci-Fi|Thriller      12
12                        Horror|Mystery|Thriller      13
13                        Horror|Mystery|Thriller      14
14                          Action|Crime|Thriller      15
15                         Drama|Mystery|Thriller      16
16                        Animation|Drama|Romance      17
17                  Comedy|Family|Fantasy|Romance      18
18                           Comedy|Music|Romance      19
19                                    Crime|Drama      20
20                          Action|Crime|Thriller      21
21                        Horror|Mystery|Thriller      22
22                           Comedy|Drama|Romance      23
23                           Comedy|Drama|Romance      24
24                           Comedy|Drama|Romance      25
25                Action|Adventure|Crime|Thriller      26
26                    Documentary|Biography|Music      27
27                   Adventure|Comedy|Crime|Music      28
28                                Action|Thriller      29
29                              Adventure|Fantasy      30
...                                           ...     ...
817113                                      Drama  817114
817114                               Comedy|Drama  817115
817115                       Crime|Drama|Thriller  817116
817116                                     Horror  817117
817117  Animation|Adventure|Comedy|Family|Fantasy  817118
817118               Action|Biography|Drama|Sport  817119
817119                                Documentary  817120
817120                      Drama|Mystery|Romance  817121
817121                       Crime|Drama|Thriller  817122
817122                              Drama|Romance  817123
817123                 Animation|Action|Adventure  817124
817124            Action|Adventure|Comedy|Fantasy  817125
817125                               Comedy|Drama  817126
817126                                      Drama  817127
817127                                  Adventure  817128
817128                             Horror|Mystery  817129
817129                              Comedy|Horror  817130
817130                    Action|Adventure|Sci-Fi  817131
817131                                     Horror  817132
817132                                Crime|Drama  817133
817133                                     Comedy  817134
817134                Comedy|Drama|Horror|Romance  817135
817135               Action|Biography|Drama|Sport  817136
817136                                     Action  817137
817137               Action|Drama|Sci-Fi|Thriller  817138
817138             Action|Adventure|Comedy|Sci-Fi  817139
817139                       Crime|Drama|Thriller  817140
817140               Action|Biography|Drama|Sport  817141
817141                                      Drama  817142
817142                               Action|Drama  817143

[817143 rows x 2 columns]

In [33]:
df_cross.isnull().values.any()

True

In [34]:
df_cross.isnull().sum()

genre    443
id         0
dtype: int64

In [35]:
df_cross['genre'] = df_cross.fillna('noGenre')

In [36]:
newdf_cross = pd.concat([pd.Series(row['id'], row['genre'].split('|'))
           for _, row in df_cross.iterrows()]).reset_index()

In [37]:
newdf_cross.columns

Index(['index', 0], dtype='object')

In [38]:
new_dfcross = pd.crosstab(newdf_cross[0], newdf_cross['index'])

In [39]:
new_dfcross

index,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,noGenre
0,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
8,0,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
10,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
11,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
15,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
17,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
18,0,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
19,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
23,0,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
24,0,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
25,0,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
26,1,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,1,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
30,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817114,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817115,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817116,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817118,0,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
817119,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
817120,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
817121,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
817122,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817123,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
817124,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817125,1,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817126,0,0,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817127,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817128,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817129,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817130,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817131,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
817132,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817133,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817134,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817135,0,0,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
817136,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
817137,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
817138,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
817139,1,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
817140,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,1,0,0,0
817141,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
817142,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
817143,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
new_dfcross.rename(columns={'index': 'genre', 0: 'id'}, inplace=True)

In [41]:
new_dfcross.columns

Index(['Action', 'Adult', 'Adventure', 'Animation', 'Biography', 'Comedy',
       'Crime', 'Documentary', 'Drama', 'Family', 'Fantasy', 'Film-Noir',
       'Game-Show', 'History', 'Horror', 'Music', 'Musical', 'Mystery', 'News',
       'Reality-TV', 'Romance', 'Sci-Fi', 'Short', 'Sport', 'Talk-Show',
       'Thriller', 'War', 'Western', 'noGenre'],
      dtype='object', name='index')

In [42]:
result = pd.merge(df_final.reset_index(),
                  new_dfcross.reset_index(), 
                  left_index=True, 
                  right_index=True)
result

,index,user_id,movie_id,rating,date,time,movie_title,genre,movie_year,twitter_id,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,noGenre
0,0,3753,1024648,10,2013-02-28,22:23:19,Argo,Biography|Drama|Thriller,2012,91103330,...,0,0,0,0,0,0,1,0,0,0
1,1,1243,1204340,7,2013-02-28,19:38:13,Tyrannosaur,Drama,2011,212601503,...,0,0,0,0,0,0,0,0,0,0
2,2,7228,99685,8,2013-02-28,16:21:17,Goodfellas,Biography|Crime|Drama,1990,190537636,...,0,0,0,0,0,0,0,0,0,0
3,3,7228,1667310,7,2013-02-28,18:04:28,Deadfall,Crime|Drama|Thriller,2012,190537636,...,0,0,0,0,0,0,1,0,0,0
4,4,60136,482599,2,2013-02-28,19:48:38,Shutter,Horror|Mystery|Thriller,2008,21364033,...,0,0,0,0,0,0,1,0,0,0
5,5,60136,479968,1,2013-02-28,19:47:06,One Missed Call,Horror|Mystery,2008,21364033,...,0,0,0,0,0,0,0,0,0,0
6,6,60136,391198,3,2013-02-28,19:49:13,The Grudge,Horror|Mystery|Thriller,2004,21364033,...,0,0,0,0,0,0,1,0,0,0
7,7,7131,889573,5,2013-02-28,15:48:53,The Switch,Comedy|Drama|Romance,2010,239615275,...,0,1,0,0,0,0,0,0,0,0
8,8,1243,1596365,5,2013-02-28,22:10:55,The Woman in Black,Drama|Fantasy|Horror|Thriller,2012,212601503,...,0,0,0,0,0,0,1,0,0,0
9,9,7131,1411238,6,2013-02-28,14:47:18,No Strings Attached,Comedy|Romance,2011,239615275,...,0,1,0,0,0,0,0,0,0,0
10,10,9443,1068680,7,2013-02-28,15:28:25,Yes Man,Comedy|Romance,2008,124670134,...,0,1,0,0,0,0,0,0,0,0
11,11,9443,949731,5,2013-02-28,15:26:34,The Happening,Mystery|Sci-Fi|Thriller,2008,124670134,...,0,0,1,0,0,0,1,0,0,0
12,12,36459,1922777,6,2013-02-28,18:03:03,Sinister,Horror|Mystery|Thriller,2012,944321664,...,0,0,0,0,0,0,1,0,0,0
13,13,14063,1922777,6,2013-02-28,23:33:25,Sinister,Horror|Mystery|Thriller,2012,29190462,...,0,0,0,0,0,0,1,0,0,0
14,14,41461,1308729,10,2013-02-28,18:10:22,Bullet to the Head,Action|Crime|Thriller,2012,219635355,...,0,0,0,0,0,0,1,0,0,0
15,15,55311,1441326,5,2013-02-28,22:45:58,Martha Marcy May Marlene,Drama|Mystery|Thriller,2011,93705254,...,0,0,0,0,0,0,1,0,0,0
16,16,33749,983213,5,2013-02-28,21:07:23,Byôsoku 5 senchimêtoru,Animation|Drama|Romance,2007,97459712,...,0,1,0,0,0,0,0,0,0,0
17,17,9443,319343,6,2013-02-28,15:27:06,Elf,Comedy|Family|Fantasy|Romance,2003,124670134,...,0,1,0,0,0,0,0,0,0,0
18,18,16730,1981677,5,2013-02-28,21:47:13,Pitch Perfect,Comedy|Music|Romance,2012,230985233,...,0,1,0,0,0,0,0,0,0,0
19,19,44335,144084,8,2013-02-28,23:48:07,American Psycho,Crime|Drama,2000,344684430,...,0,0,0,0,0,0,0,0,0,0
20,20,48922,417148,6,2013-02-28,22:51:12,Snakes on a Plane,Action|Crime|Thriller,2006,20422186,...,0,0,0,0,0,0,1,0,0,0
21,21,58971,2109184,8,2013-02-28,23:45:11,Paranormal Activity 4,Horror|Mystery|Thriller,2012,103543666,...,0,0,0,0,0,0,1,0,0,0
22,22,3361,1045658,7,2013-02-28,16:19:29,Silver Linings Playbook,Comedy|Drama|Romance,2012,21503156,...,0,1,0,0,0,0,0,0,0,0
23,23,31463,1045658,8,2013-02-28,20:21:41,Silver Linings Playbook,Comedy|Drama|Romance,2012,148441678,...,0,1,0,0,0,0,0,0,0,0
24,24,8057,1045658,9,2013-02-28,20:34:30,Silver Linings Playbook,Comedy|Drama|Romance,2012,219956534,...,0,1,0,0,0,0,0,0,0,0
25,25,52400,1568338,7,2013-02-28,22:24:06,Man on a Ledge,Action|Adventure|Crime|Thriller,2012,41925614,...,0,0,0,0,0,0,1,0,0,0
26,26,30255,2125608,10,2013-02-28,20:56:31,Searching for Sugar Man,Documentary|Biography|Music,2012,36372507,...,0,0,0,0,0,0,0,0,0,0
27,27,7153,190590,7,2013-02-28,23:21:20,"O Brother, Where Art Thou?",Adventure|Comedy|Crime|Music,2000,20331863,...,0,0,0,0,0,0,0,0,0,0
28,28,48922,1606378,7,2013-02-28,22:51:38,A Good Day to Die Hard,Action|Thriller,2013,20422186,...,0,0,0,0,0,0,1,0,0,0
29,29,57274,1351685,8,2013-02-28,16:14:22,Jack the Giant Slayer,Adventure|Fantasy,2013,73131297,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
817113,817113,26279,6751668,8,2019-11-17,18:13:27,Gisaengchung,Drama,2019,110026476,...,0,0,0,0,0,0,0,0,0,0
817114,817114,49592,5613484,8,2019-11-17,02:44:26,Mid90s,Comedy|Drama,2018,34972668,...,0,0,0,0,0,0,0,0,0,0
817115,817115,1924,8739752,8,2019-11-17,19:30:02,The Collini Case,Crime|Drama|Thriller,2019,709106318989250560,...,0,0,0,0,0,0,1,0,0,0
817116,817116,30609,5606664,6,2019-11-17,23:22:45,Doctor Sleep,Horror,2019,423035694,...,0,0,0,0,0,0,0,0,0,0
817117,817117,58133,1772341,8,2019-11-17,13:34:59,Wreck-It Ralph,Animation|Adventure|Comedy|Family|Fantasy,2012,1064430698,...,0,0,0,0,0,0,0,0,0,0
817118,817118,46804,1950186,8,2019-11-17,12:09:23,Ford v Ferrari,Action|Biography|Drama|Sport,2019,9800812,...,0,0,0,0,1,0,0,0,0,0
817119,817119,59260,7455754,8,2019-11-17,11:27:41,The Game Changers,Documentary,2018,254277051,...,0,0,0,0,0,0,0,0,0,0
817120,817120,26867,845439,5,2019-11-17,00:45:30,Chaharshanbe-soori,Drama|Mystery|Romance,2006,829612993,...,0,1,0,0,0,0,0,0,0,0
817121,817121,32936,7286456,10,2019-11-17,03:16:16,Joker,Crime|Drama|Thriller,2019,947945257660010497,...,0,0,0,0,0,0,1,0,0,0
817122,817122,24115,1315981,8,2019-11-17,03:37:50,A Single Man,Drama|Romance,2009,3934833795,...,0,1,0,0,0,0,0,0,0,0
817123,817123,17651,9430698,9,2019-11-17,20:59:36,One Piece: Stampede,Animation|Action|Adventure,2019,358258166,...,0,0,0,0,0,0,0,0,0,0
817124,817124,57362,2283362,6,2019-11-17,20:16:43,Jumanji: Welcome to the Jungle,Action|Adventure|Comedy|Fantasy,2017,503047639,...,0,0,0,0,0,0,0,0,0,0
817125,817125,24315,7671064,7,2019-11-17,21:28:29,Brittany Runs A Marathon,Comedy|Drama,2019,43349934,...,0,0,0,0,0,0,0,0,0,0
817126,817126,50579,5563334,7,2019-11-17,18:47:03,The Good Liar,Drama,2019,888231732415254528,...,0,0,0,0,0,0,0,0,0,0
817127,817127,46958,4364194,6,2019-11-17,18:40:52,The Peanut Butter Falcon,Adventure,2019,60919233,...,0,0,0,0,0,0,0,0,0,0
817128,817128,53029,3235888,5,2019-11-17,13:51:03,It Follows,Horror|Mystery,2014,1195952196233248769,...,0,0,0,0,0,0,0,0,0,0
817129,817129,40361,7390588,6,2019-11-17,21:32:42,Little Monsters,Comedy|Horror,2019,1922913571,...,0,0,0,0,0,0,0,0,0,0
817130,817130,59211,6450804,7,2019-11-17,05:21:11,Terminator: Dark Fate,Action|Adventure|Sci-Fi,2019,44256144,...,0,0,1,0,0,0,0,0,0,0
817131,817131,35230,1999995,6,2019-11-17,20:28:15,Would You Rather,Horror,2012,123284050,...,0,0,0,0,0,0,0,0,0,0
817132,817132,42607,8144834,7,2019-11-17,05:01:51,Section 375,Crime|Drama,2019,60909762,...,0,0,0,0,0,0,0,0,0,0
817133,817133,49137,7827944,5,2019-11-17,18:07:46,The Wedding Party 2: Destination Dubai,Comedy,2017,15704093,...,0,0,0,0,0,0,0,0,0,0
817134,817134,49137,7624934,1,2019-11-17,01:35:01,Zoo,Comedy|Drama|Horror|Romance,2018,15704093,...,0,1,0,0,0,0,0,0,0,0
817135,817135,52430,1950186,8,2019-11-17,18:40:18,Ford v Ferrari,Action|Biography|Drama|Sport,2019,568572966,...,0,0,0,0,1,0,0,0,0,0
817136,817136,11144,6189022,4,2019-11-17,16:25:10,Angel Has Fallen,Action,2019,1184405412717780992,...,0,0,0,0,0,0,0,0,0,0
817137,817137,13979,1025100,6,2019-11-17,15:50:18,Gemini Man,Action|Drama|Sci-Fi|Thriller,2019,2201253550,...,0,0,1,0,0,0,1,0,0,0
817138,817138,17651,6320628,7,2019-11-17,13:43:20,Spider-Man: Far from Home,Action|Adventure|Comedy|Sci-Fi,2019,358258166,...,0,0,1,0,0,0,0,0,0,0
817139,817139,7907,7286456,8,2019-11-17,02:30:45,Joker,Crime|Drama|Thriller,2019,825887017808568320,...,0,0,0,0,0,0,1,0,0,0
817140,817140,41374,1950186,10,2019-11-17,07:16:29,Ford v Ferrari,Action|Biography|Drama|Sport,2019,392912342,...,0,0,0,0,1,0,0,0,0,0
817141,817141,39501,5091612,8,2019-11-17,22:46:55,Un sac de billes,Drama,2017,229985772,...,0,0,0,0,0,0,0,0,0,0
817142,817142,7318,9243946,6,2019-11-17,04:06:46,El Camino: A Breaking Bad Movie,Action|Drama,2019,481836708,...,0,0,0,0,0,0,0,0,0,0

In [43]:
result.columns

Index([      'index',     'user_id',    'movie_id',      'rating',
              'date',        'time', 'movie_title',       'genre',
        'movie_year',  'twitter_id',             0,      'Action',
             'Adult',   'Adventure',   'Animation',   'Biography',
            'Comedy',       'Crime', 'Documentary',       'Drama',
            'Family',     'Fantasy',   'Film-Noir',   'Game-Show',
           'History',      'Horror',       'Music',     'Musical',
           'Mystery',        'News',  'Reality-TV',     'Romance',
            'Sci-Fi',       'Short',       'Sport',   'Talk-Show',
          'Thriller',         'War',     'Western',     'noGenre'],
      dtype='object')

In [116]:
itm_file.movie_id.unique().shape

(34505,)

In [117]:
itm_file.duplicated('movie_id')

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
34477    False
34478    False
34479    False
34480    False
34481    False
34482    False
34483    False
34484    False
34485    False
34486    False
34487    False
34488    False
34489    False
34490    False
34491    False
34492    False
34493    False
34494    False
34495    False
34496    False
34497    False
34498    False
34499    False
34500    False
34501    False
34502    False
34503    False
34504    False
34505    False
34506    False
Length: 34507, dtype: bool

In [118]:
result.movie_id.unique().shape

(34505,)

In [47]:
mv_df = itm_file

In [112]:
tes_coid = pd.DataFrame(data = pd.value_counts(result[['movie_id']].values.ravel()),columns=['count'])
tes_coid.shape

In [113]:
tes_coid.head()

         count
1454468   3067
816692    2743
993846    2736
770828    2663
816711    2402

In [114]:
tes_coid.reset_index(level=0, inplace=True) 
tes_coid.head()

     index  count
0  1454468   3067
1   816692   2743
2   993846   2736
3   770828   2663
4   816711   2402

In [115]:
tes_coid.columns = ['movie_id','count']

In [63]:
dolar = result['movie_title'] == '$'
result_dolar = result[dolar]
result_dolar

,index,user_id,movie_id,rating,date,time,movie_title,genre,movie_year,twitter_id,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,noGenre
20248,20248,47425,68152,8,2013-04-07,22:16:20,$,Comedy|Crime|Drama,1971,14782875,...,0,0,0,0,0,0,0,0,0,0
230260,230260,4261,68152,7,2014-04-18,12:41:46,$,Comedy|Crime|Drama,1971,78128381,...,0,0,0,0,0,0,0,0,0,0
375435,375435,17101,68152,4,2015-04-25,03:05:01,$,Comedy|Crime|Drama,1971,532582706,...,0,0,0,0,0,0,0,0,0,0

In [61]:
dolar = co_df['movie_title'] == '$'
co_df_dolar = co_df[dolar]

In [62]:
co_df_dolar

      movie_title  count
13626           $      3

In [120]:
grouped_data = result.groupby('movie_id')
rating = pd.DataFrame(grouped_data['rating'].mean().round(2))
rating.reset_index(level=0, inplace=True) 
rating.head()

   movie_id  rating
0        10    10.0
1        12    10.0
2        25     8.0
3        91     6.0
4       131     7.0

In [121]:
rating.shape

(34505, 2)

In [124]:
tes_coid = pd.merge(tes_coid,rating, on='movie_id',how='outer')
tes_coid = pd.merge(mv_df,tes_coid, on='movie_id',how='outer')
tes_coid

,movie_id,movie_title,genre,movie_year,count,rating
0,10,La sortie des usines Lumière,Documentary|Short,1895,1,10.00
1,12,The Arrival of a Train,Documentary|Short,1896,1,10.00
2,25,The Oxford and Cambridge University Boat Race,NaN,1895,1,8.00
3,91,Le manoir du diable,Short|Horror,1896,3,6.00
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00
7,443,"Hiawatha, the Messiah of the Ojibway",NaN,1903,1,8.00
8,628,The Adventures of Dollie,Action|Short,1908,2,4.50
9,833,The Country Doctor,Short|Drama,1909,1,3.00
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00
11,1740,The Lonedale Operator,Short|Drama|Romance,1911,1,4.00
12,2101,Cleopatra,Drama|History,1912,1,4.00
13,2130,L'inferno,Adventure|Drama|Fantasy|Horror,1911,1,5.00
14,2354,Max et Jane veulent faire du théâtre,Short|Comedy|Romance,1911,1,8.00
15,2844,Fantômas - À l'ombre de la guillotine,Crime|Drama,1913,1,6.00
16,3740,Cabiria,Adventure|Drama|History,1914,2,7.50
17,3863,Dough and Dynamite,Comedy|Short,1914,1,10.00
18,4099,"His Majesty, the Scarecrow of Oz",Family|Fantasy|Adventure|Comedy,1914,2,7.00
19,4100,His Musical Career,Short|Comedy,1914,1,6.00
20,4101,His New Profession,Short|Comedy,1914,1,10.00
21,4210,Laughing Gas,Short|Comedy,1914,1,10.00
22,4395,The New Janitor,Short|Comedy,1914,1,10.00
23,4457,The Patchwork Girl of Oz,Adventure|Family|Fantasy,1914,1,6.00
24,4518,Recreation,Comedy|Short,1914,1,6.00
25,4546,The Rounders,Comedy|Short,1914,2,8.50
26,4936,The Bank,Comedy|Short,1915,2,6.50
27,4972,The Birth of a Nation,Drama|History|War,1915,4,7.50
28,5074,The Champion,Short|Comedy|Sport,1915,1,10.00
29,5078,The Cheat,Drama,1915,1,4.00
...,...,...,...,...,...,...
34477,10763618,Tune in for Love,Drama,2019,1,10.00
34478,10763914,Dilsiz,Drama,2019,1,5.00
34479,10765852,Metallica &amp; San Francisco Symphony - S&amp;M2,Music,2019,4,8.75
34480,10767426,Tekst,Drama|Thriller,2019,1,7.00
34481,10785310,Três Verões,Drama,2019,1,6.00
34482,10805432,Fanxiao,Thriller,2019,2,8.00
34483,10810424,Dave Chappelle: Sticks &amp; Stones,Comedy,2019,43,8.60
34484,10814494,Mei,Action,2019,1,6.00
34485,10847194,Jeff Dunham: Beside Himself,Comedy,2019,1,7.00
34486,10847306,Bill Burr: Paper Tiger,Comedy,2019,24,9.08
34487,10847330,Mo Gilligan: Momentum,Comedy,2019,2,7.00
34488,10856726,Travis Scott: Look Mom I Can Fly,Documentary|Music,2019,24,8.50
34489,10860558,Baglilik Asli,Drama,2019,2,7.00
34490,10895830,Sixer,Comedy,2019,1,5.00
34491,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43
34492,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00
34493,10952752,Nikki Glaser: Bangin',Comedy,2019,2,5.50
34494,10954364,Savage X Fenty Show,Biography|Music,2019,3,8.67
34495,10968482,Venpa,Romance,2019,1,8.00
34496,10971520,Jenny Slate: Stage Fright,Comedy,2019,2,5.50
34497,10977680,Deon Cole: Cole Hearted,Comedy,2019,2,7.00
34498,10987544,The Forest of Love,Crime,2019,1,1.00
34499,11033952,Square One,Documentary,2019,1,10.00
34500,11064486,Puppy,Drama,2019,1,5.00
34501,11066130,Upstarts,Drama,2019,2,7.00
34502,11075870,Soluk,Drama,2019,1,4.00
34503,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00
34504,11163028,House Arrest,NaN,2019,1,2.00
34505,11168100,Seth Meyers: Lobby Baby,Comedy,2019,1,8.00
34506,11212096,In Search of the Earth-Mother of Anatolia,NaN,2019,1,10.00

In [125]:
new_dfcross.columns.shape

(29,)

In [127]:
vote_counts = tes_coid[tes_coid['count'].notnull()]['count'].astype('int')
vote_avergs = tes_coid[tes_coid['rating'].notnull()]['rating'].astype('int')
C = vote_avergs.mean()
C

6.461123829947547

In [128]:
m= vote_counts.quantile(0.95)
m

89.69999999999709

In [130]:
qualified = tes_coid[(tes_coid['count'] >= m) &
                  (tes_coid['count'].notnull())&
                  (tes_coid['rating'].notnull())][['movie_title',
                                                'movie_year',
                                                'count',
                                                'rating',
                                                'genre']]
qualified['count'] = qualified['count'].astype('int')
qualified['rating'] = qualified['rating'].astype('int')
qualified.shape

(1726, 5)

In [131]:
def weighted_rating(x):
    V = x['count']
    R = x['rating']
    return (V/(V+m) * R) +(m/(m+V) * C)

In [132]:
qualified['wr'] = qualified.apply(weighted_rating, axis=1)

In [133]:
qualified = qualified.sort_values('wr', ascending = False).head(250)

### Top Movies

In [134]:
qualified.head(15)

,movie_title,movie_year,count,rating,genre,wr
33188,Joker,2019,2226,9,Crime|Drama|Thriller,8.901655
28647,Avengers: Endgame,2019,1363,9,Action|Adventure|Fantasy|Sci-Fi,8.843232
8425,The Shawshank Redemption,1994,998,9,Drama,8.790625
17993,Inception,2010,874,9,Action|Adventure|Sci-Fi|Thriller,8.763685
8271,Forrest Gump,1994,774,9,Drama|Romance,8.736324
2037,12 Angry Men,1957,691,9,Crime|Drama,8.708291
14476,The Dark Knight,2008,664,9,Action|Crime|Drama|Thriller,8.697841
3891,The Godfather,1972,592,9,Crime|Drama,8.665928
9477,The Green Mile,1999,438,9,Crime|Drama|Fantasy|Mystery,8.568434
8118,Schindler's List,1993,413,9,Biography|Drama|History,8.546972
31007,Be Somebody,2016,353,9,Comedy|Drama|Romance,8.485572
10252,The Lord of the Rings: The Return of the King,2003,332,9,Adventure|Drama|Fantasy,8.459954
4202,The Godfather: Part II,1974,326,9,Crime|Drama,8.452160
3005,"Il buono, il brutto, il cattivo",1966,323,9,Western,8.448177
1143,It's a Wonderful Life,1946,285,9,Drama|Family|Fantasy,8.392215

In [135]:
joker = itm_file['movie_title'] == 'Joker'
df_joker = itm_file[joker]
df_joker

       movie_id movie_title                 genre movie_year
21113   1918886       Joker  Comedy|Family|Sci-Fi       2012
33188   7286456       Joker  Crime|Drama|Thriller       2019

In [136]:
itm_file['movie_id'].unique().shape

(34505,)

In [137]:
itm_file['movie_title'].unique().shape

(33115,)

In [140]:
s = tes_coid['genre'].str.split('|').apply(pd.Series, 1).stack()
s

0      0    Documentary
       1          Short
1      0    Documentary
       1          Short
3      0          Short
       1         Horror
4      0          Short
       1         Comedy
       2         Horror
5      0          Short
       1         Action
       2      Adventure
       3         Comedy
       4        Fantasy
       5         Sci-Fi
6      0          Short
       1         Action
       2          Crime
       3        Western
8      0         Action
       1          Short
9      0          Short
       1          Drama
10     0          Short
       1         Horror
       2         Sci-Fi
11     0          Short
       1          Drama
       2        Romance
12     0          Drama
               ...
34486  0         Comedy
34487  0         Comedy
34488  0    Documentary
       1          Music
34489  0          Drama
34490  0         Comedy
34491  0    Documentary
       1          Drama
       2        Mystery
34492  0          Short
       1         Action
       2      Adventure
       3        Fantasy
       4         Sci-Fi
34493  0         Comedy
34494  0      Biography
       1          Music
34495  0        Romance
34496  0         Comedy
34497  0         Comedy
34498  0          Crime
34499  0    Documentary
34500  0          Drama
34501  0          Drama
34502  0          Drama
34503  0      Animation
       1         Action
       2          Crime
       3         Sci-Fi
34505  0         Comedy
Length: 82052, dtype: object

In [143]:
s = tes_coid['genre'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'genres'
tes_coid.join(s.apply(lambda x: pd.Series(x.split('|'))))
tes_coid = tes_coid.join(s)
tes_coid

,movie_id,movie_title,genre,movie_year,count,rating,genres
0,10,La sortie des usines Lumière,Documentary|Short,1895,1,10.00,Documentary
0,10,La sortie des usines Lumière,Documentary|Short,1895,1,10.00,Short
1,12,The Arrival of a Train,Documentary|Short,1896,1,10.00,Documentary
1,12,The Arrival of a Train,Documentary|Short,1896,1,10.00,Short
2,25,The Oxford and Cambridge University Boat Race,NaN,1895,1,8.00,NaN
3,91,Le manoir du diable,Short|Horror,1896,3,6.00,Short
3,91,Le manoir du diable,Short|Horror,1896,3,6.00,Horror
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00,Short
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00,Comedy
4,131,Une nuit terrible,Short|Comedy|Horror,1896,1,7.00,Horror
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Short
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Action
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Adventure
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Comedy
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Fantasy
5,417,Le voyage dans la lune,Short|Action|Adventure|Comedy|Fantasy|Sci-Fi,1902,22,8.50,Sci-Fi
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Short
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Action
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Crime
6,439,The Great Train Robbery,Short|Action|Crime|Western,1903,6,7.00,Western
7,443,"Hiawatha, the Messiah of the Ojibway",NaN,1903,1,8.00,NaN
8,628,The Adventures of Dollie,Action|Short,1908,2,4.50,Action
8,628,The Adventures of Dollie,Action|Short,1908,2,4.50,Short
9,833,The Country Doctor,Short|Drama,1909,1,3.00,Short
9,833,The Country Doctor,Short|Drama,1909,1,3.00,Drama
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00,Short
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00,Horror
10,1223,Frankenstein,Short|Horror|Sci-Fi,1910,1,7.00,Sci-Fi
11,1740,The Lonedale Operator,Short|Drama|Romance,1911,1,4.00,Short
11,1740,The Lonedale Operator,Short|Drama|Romance,1911,1,4.00,Drama
...,...,...,...,...,...,...,...
34488,10856726,Travis Scott: Look Mom I Can Fly,Documentary|Music,2019,24,8.50,Documentary
34488,10856726,Travis Scott: Look Mom I Can Fly,Documentary|Music,2019,24,8.50,Music
34489,10860558,Baglilik Asli,Drama,2019,2,7.00,Drama
34490,10895830,Sixer,Comedy,2019,1,5.00,Comedy
34491,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43,Documentary
34491,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43,Drama
34491,10915286,Tell Me Who I Am,Documentary|Drama|Mystery,2019,7,8.43,Mystery
34492,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Short
34492,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Action
34492,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Adventure
34492,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Fantasy
34492,10942816,Battle at Big Rock,Short|Action|Adventure|Fantasy|Sci-Fi,2019,2,8.00,Sci-Fi
34493,10952752,Nikki Glaser: Bangin',Comedy,2019,2,5.50,Comedy
34494,10954364,Savage X Fenty Show,Biography|Music,2019,3,8.67,Biography
34494,10954364,Savage X Fenty Show,Biography|Music,2019,3,8.67,Music
34495,10968482,Venpa,Romance,2019,1,8.00,Romance
34496,10971520,Jenny Slate: Stage Fright,Comedy,2019,2,5.50,Comedy
34497,10977680,Deon Cole: Cole Hearted,Comedy,2019,2,7.00,Comedy
34498,10987544,The Forest of Love,Crime,2019,1,1.00,Crime
34499,11033952,Square One,Documentary,2019,1,10.00,Documentary
34500,11064486,Puppy,Drama,2019,1,5.00,Drama
34501,11066130,Upstarts,Drama,2019,2,7.00,Drama
34502,11075870,Soluk,Drama,2019,1,4.00,Drama
34503,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Animation
34503,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Action
34503,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Crime
34503,11078434,Psycho-Pass: Sinners of the System Case 2 Firs...,Animation|Action|Crime|Sci-Fi,2019,1,8.00,Sci-Fi
34504,11163028,House Arrest,NaN,2019,1,2.00,NaN
34505,11168100,Seth Meyers: Lobby Baby,Comedy,2019,1,8.00,Comedy
34506,11212096,In Search of the Earth-Mother of Anatolia,NaN,2019,1,10.00,NaN

In [ ]:
s = tes_coid.apply(lambda x: pd.Series(x['genres']),axis=0).stack().reset_index(level=1, drop=True)

In [ ]:
s = pd.concat([pd.Series(row['id'], row['genre'].split('|'))
           for _, row in df_cross.iterrows()]).reset_index()

col = [movies]
for i in movies:
    count_m = (result[result.movie_title == i].shape[0])

#  Pruebas

In [48]:
df_testing = pd.DataFrame(df_final.genre)

pruebas = df_testing.head()
jj = int(pruebas.count()+1)
pruebas['id'] = pd.Series(range(1,jj))

C:\Users\alter\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [49]:
pruebas

                                             genre  id
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1
1            Drama|Fantasy|Horror|Mystery|Thriller   2
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3
3                          Action|Adventure|Sci-Fi   4
4                  Action|Adventure|Drama|Thriller   5

In [50]:
pd.concat([pd.Series(row['id'], row['genre'].split('|'))
           for _, row in pruebas.iterrows()]).reset_index()

        index  0
0      Action  1
1   Adventure  1
2     Mystery  1
3      Sci-Fi  1
4    Thriller  1
5       Drama  2
6     Fantasy  2
7      Horror  2
8     Mystery  2
9    Thriller  2
10     Action  3
11  Adventure  3
12    Fantasy  3
13     Horror  3
14     Sci-Fi  3
15   Thriller  3
16     Action  4
17  Adventure  4
18     Sci-Fi  4
19     Action  5
20  Adventure  5
21      Drama  5
22   Thriller  5

In [51]:
import pandas as pd
df = pd.DataFrame(['a b c']*100000, columns=['col'])
df.head()

     col
0  a b c
1  a b c
2  a b c
3  a b c
4  a b c

In [52]:
print (pd.DataFrame(dict(zip(range(3), [df['col'].apply(lambda x : x.split(' ')[i]) for i in range(3)]))).head())

   0  1  2
0  a  b  c
1  a  b  c
2  a  b  c
3  a  b  c
4  a  b  c

In [53]:
s = pruebas['genre'].str.split('|')
s

0       [Action, Adventure, Mystery, Sci-Fi, Thriller]
1          [Drama, Fantasy, Horror, Mystery, Thriller]
2    [Action, Adventure, Fantasy, Horror, Sci-Fi, T...
3                          [Action, Adventure, Sci-Fi]
4                 [Action, Adventure, Drama, Thriller]
Name: genre, dtype: object

In [54]:
q = pruebas['genre'].str.split('|').tolist()
q

[['Action', 'Adventure', 'Mystery', 'Sci-Fi', 'Thriller'],
 ['Drama', 'Fantasy', 'Horror', 'Mystery', 'Thriller'],
 ['Action', 'Adventure', 'Fantasy', 'Horror', 'Sci-Fi', 'Thriller'],
 ['Action', 'Adventure', 'Sci-Fi'],
 ['Action', 'Adventure', 'Drama', 'Thriller']]

In [55]:
pd.DataFrame(dict(zip(range(16), [pruebas['genre'].apply(lambda x : x.split('|')[i]) for i in range(2)])))

        0          1
0  Action  Adventure
1   Drama    Fantasy
2  Action  Adventure
3  Action  Adventure
4  Action  Adventure

In [56]:
s = pruebas['genre'].str.split('|').apply(pd.Series, 1).stack()
s

0  0       Action
   1    Adventure
   2      Mystery
   3       Sci-Fi
   4     Thriller
1  0        Drama
   1      Fantasy
   2       Horror
   3      Mystery
   4     Thriller
2  0       Action
   1    Adventure
   2      Fantasy
   3       Horror
   4       Sci-Fi
   5     Thriller
3  0       Action
   1    Adventure
   2       Sci-Fi
4  0       Action
   1    Adventure
   2        Drama
   3     Thriller
dtype: object

In [57]:
s.index = s.index.droplevel(-1)
s.name = 'genres'
s

0       Action
0    Adventure
0      Mystery
0       Sci-Fi
0     Thriller
1        Drama
1      Fantasy
1       Horror
1      Mystery
1     Thriller
2       Action
2    Adventure
2      Fantasy
2       Horror
2       Sci-Fi
2     Thriller
3       Action
3    Adventure
3       Sci-Fi
4       Action
4    Adventure
4        Drama
4     Thriller
Name: genres, dtype: object

In [58]:
# s = pruebas['genre']
s = pruebas['genre'].str.split('|').apply(pd.Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'genres'
pruebas.join(s.apply(lambda x: pd.Series(x.split('|'))))
pruebas = pruebas.join(s)
pruebas

                                             genre  id     genres
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1     Action
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1  Adventure
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1    Mystery
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1     Sci-Fi
0         Action|Adventure|Mystery|Sci-Fi|Thriller   1   Thriller
1            Drama|Fantasy|Horror|Mystery|Thriller   2      Drama
1            Drama|Fantasy|Horror|Mystery|Thriller   2    Fantasy
1            Drama|Fantasy|Horror|Mystery|Thriller   2     Horror
1            Drama|Fantasy|Horror|Mystery|Thriller   2    Mystery
1            Drama|Fantasy|Horror|Mystery|Thriller   2   Thriller
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3     Action
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3  Adventure
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3    Fantasy
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3     Horror
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3     Sci-Fi
2  Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller   3   Thriller
3                          Action|Adventure|Sci-Fi   4     Action
3                          Action|Adventure|Sci-Fi   4  Adventure
3                          Action|Adventure|Sci-Fi   4     Sci-Fi
4                  Action|Adventure|Drama|Thriller   5     Action
4                  Action|Adventure|Drama|Thriller   5  Adventure
4                  Action|Adventure|Drama|Thriller   5      Drama
4                  Action|Adventure|Drama|Thriller   5   Thriller

In [59]:
uni_gen = pruebas['genres'].unique()
uni_gen

array(['Action', 'Adventure', 'Mystery', 'Sci-Fi', 'Thriller', 'Drama',
       'Fantasy', 'Horror'], dtype=object)

In [60]:
process = pd.get_dummies(pd.Series(list(pruebas['genres'])))

In [61]:
result = pd.merge(pruebas.reset_index(),
                  process.reset_index(), 
                  left_index=True, 
                  right_index=True)
result

,index_x,genre,id,genres,index_y,Action,Adventure,Drama,Fantasy,Horror,Mystery,Sci-Fi,Thriller
0,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Action,0,1,0,0,0,0,0,0,0
1,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Adventure,1,0,1,0,0,0,0,0,0
2,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Mystery,2,0,0,0,0,0,1,0,0
3,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Sci-Fi,3,0,0,0,0,0,0,1,0
4,0,Action|Adventure|Mystery|Sci-Fi|Thriller,1,Thriller,4,0,0,0,0,0,0,0,1
5,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Drama,5,0,0,1,0,0,0,0,0
6,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Fantasy,6,0,0,0,1,0,0,0,0
7,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Horror,7,0,0,0,0,1,0,0,0
8,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Mystery,8,0,0,0,0,0,1,0,0
9,1,Drama|Fantasy|Horror|Mystery|Thriller,2,Thriller,9,0,0,0,0,0,0,0,1
10,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Action,10,1,0,0,0,0,0,0,0
11,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Adventure,11,0,1,0,0,0,0,0,0
12,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Fantasy,12,0,0,0,1,0,0,0,0
13,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Horror,13,0,0,0,0,1,0,0,0
14,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Sci-Fi,14,0,0,0,0,0,0,1,0
15,2,Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller,3,Thriller,15,0,0,0,0,0,0,0,1
16,3,Action|Adventure|Sci-Fi,4,Action,16,1,0,0,0,0,0,0,0
17,3,Action|Adventure|Sci-Fi,4,Adventure,17,0,1,0,0,0,0,0,0
18,3,Action|Adventure|Sci-Fi,4,Sci-Fi,18,0,0,0,0,0,0,1,0
19,4,Action|Adventure|Drama|Thriller,5,Action,19,1,0,0,0,0,0,0,0
20,4,Action|Adventure|Drama|Thriller,5,Adventure,20,0,1,0,0,0,0,0,0
21,4,Action|Adventure|Drama|Thriller,5,Drama,21,0,0,1,0,0,0,0,0
22,4,Action|Adventure|Drama|Thriller,5,Thriller,22,0,0,0,0,0,0,0,1

In [62]:
new_df = pd.crosstab(result['id'], result['genres'])

In [63]:
new_df

genres  Action  Adventure  Drama  Fantasy  Horror  Mystery  Sci-Fi  Thriller
id
1            1          1      0        0       0        1       1         1
2            0          0      1        1       1        1       0         1
3            1          1      0        1       1        0       1         1
4            1          1      0        0       0        0       1         0
5            1          1      1        0       0        0       0         1

In [64]:
data = pd.DataFrame(columns=(uni_gen))
data['id'] = pd.Series(range(1,jj))
data

  Action Adventure Mystery Sci-Fi Thriller Drama Fantasy Horror  id
0    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   1
1    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   2
2    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   3
3    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   4
4    NaN       NaN     NaN    NaN      NaN   NaN     NaN    NaN   5

In [65]:
df_final.shape

(816306, 9)

In [66]:
df_final['movie_title'].nunique()
#34314

33093

In [67]:
lista_m = itm_file['movie_title']

lista_f = df_final['movie_title']

In [68]:
df_final[['dID','hID']].groupby(df['mID']).agg(['count', 'size', 'nunique'])

KeyError: "['dID' 'hID'] not in index"

In [ ]:
lista_m.iloc['Joker']

is_male = lista_m.loc[:,] == 'Joker'
df_male = lista_m.loc[is_male]
df_male.head()

In [ ]:
lista_f = pd.DataFrame(lista_f)
lista_f

In [ ]:
#surveys_df.loc[[0, 10], :] surveys_df[surveys_df.year == 2002]

lista_m = pd.DataFrame(lista_m)
lista_m['movie_title'].iloc[2]

In [ ]:
lista_m.movie_title.dtypes

In [ ]:
lista_m.movie_title =='The Oxford and Cambridge University Boat Race'

In [ ]:
is_joker = lista_m.loc[:, 'movie_title'] == 'Upstarts'
df_joker = lista_m.loc[is_joker]
df_joker.head()

In [ ]:
is_joker.unique()

In [ ]:
comparacion = []
for item in lista_m:
    if item in lista_m:
        comparacion.append(item)

if len(comparacion) > 0:
    print('Ambas listas contienen estos elementos')
    for item in comparacion: print('%s' % item)

else:
    print('No existe ningun elemento igual en las listas')

In [ ]:
lista1=["paco","pepe","luis"]

lista2=["diego","mari","luis"]

comparacion = []

 

for item in lista1:

  if item in lista2:

    comparacion.append(item)

 

if len(comparacion) > 0:

  print 'Ambas listas contienen estos elementos'

  for item in comparacion: print '%s' % item

else:

  print 'No existe ningun elemento igual en las listas'

In [ ]:
n_col = df_final.columns

for col in n_col:
    print(df[col].unique)